In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("nba.csv")

In [4]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [6]:
df.dropna(how='all',inplace=True)

In [7]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [8]:
df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [10]:
df.loc[:,['College']].head(25)

              College
0               Texas
1           Marquette
2   Boston University
3       Georgia State
4                 NaN
5                 NaN
6                 LSU
7             Gonzaga
8          Louisville
9      Oklahoma State
10         Ohio State
11         Washington
12         Ohio State
13           Kentucky
14     North Carolina
15                NaN
16     Oklahoma State
17     North Carolina
18            Arizona
19       Georgia Tech
20                NaN
21         Cincinnati
22         Miami (FL)
23           Stanford
24           Syracuse

In [11]:
df.fillna(value='None')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [12]:
df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [22]:
df.duplicated(subset='College',keep=False).sum()

405

In [23]:
df.fillna(value='None',inplace=True)

In [24]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [26]:
df1=df[df['Age']>25.0]
df1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,None,12000000.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
...,...,...,...,...,...,...,...,...,...
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,None,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [32]:
df2=df[(df['Team']=='Boston Celtics') & (df['Weight']>200)]
df2

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,None,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [38]:
var=df.groupby(['Weight','Team'])

In [42]:
var.get_group([235,'Boston Celtics'])

ValueError: must supply a tuple to get_group with multiple grouping keys

In [43]:
for x,y in var:
    print(x)
    print(y)
    print()

(161.0, 'Chicago Bulls')
             Name           Team  Number Position   Age Height  Weight  \
152  Aaron Brooks  Chicago Bulls     0.0       PG  31.0    6-0   161.0

    College     Salary
152  Oregon  2250000.0

(165.0, 'Memphis Grizzlies')
             Name               Team  Number Position   Age Height  Weight  \
263  Bryce Cotton  Memphis Grizzlies     8.0       PG  23.0    6-1   165.0

        College    Salary
263  Providence  700902.0

(165.0, 'Miami Heat')
              Name        Team  Number Position   Age Height  Weight  \
350  Briante Weber  Miami Heat    12.0       PG  23.0    6-2   165.0

                   College Salary
350  Virginia Commonwealth   None

(169.0, 'Orlando Magic')
                 Name           Team  Number Position   Age Height  Weight  \
359  Brandon Jennings  Orlando Magic    55.0       PG  26.0    6-1   169.0

    College     Salary
359    None  8344497.0

(170.0, 'New Orleans Pelicans')
            Name                  Team  Number Position   Age Height  Weight  \
286  Tim Frazier  New Orleans Pelicans     2.0       PG  25.0    6-1   170.0

        College    Salary
286  Penn State  845059.0

(172.0, 'Atlanta Hawks')
                Name           Team  Number Position   Age Height  Weight  \
318  Dennis Schroder  Atlanta Hawks    17.0       PG  22.0    6-1   172.0

    College     Salary
318    None  1763400.0

(172.0, 'Detroit Pistons')
            Name             Team  Number Position   Age Height  Weight  \
183  Steve Blake  Detroit Pistons    22.0       PG  36.0    6-3   172.0

      College     Salary
183  Maryland  2170465.0

(173.0, 'Portland Trail Blazers')
              Name                    Team  Number Position   Age Height  \
440  Brian Roberts  Portland Trail Blazers     2.0       PG  30.0    6-1

     Weight College     Salary
440   173.0  Dayton  2854940.0

(175.0, 'Brooklyn Nets')
            Name           Team  Number Position   Age Height  Weight  \
22  Shane Larkin  Brooklyn Nets     0.0       PG  23.0   5-11   175.0

       College     Salary
22  Miami (FL)  1500000.0

(175.0, 'Denver Nuggets')
            Name            Team  Number Position   Age Height  Weight  \
385  Will Barton  Denver Nuggets     5.0       SF  25.0    6-6   175.0

     College     Salary
385  Memphis  3533333.0

(175.0, 'Golden State Warriors')
         Name                   Team  Number Position   Age Height  Weight  \
79  Ian Clark  Golden State Warriors    21.0       SG  25.0    6-3   175.0

    College    Salary
79  Belmont  947276.0

(175.0, 'Los Angeles Clippers')
           Name                  Team  Number Position   Age Height  Weight  \
100  Chris Paul  Los Angeles Clippers     3.0       PG  31.0    6-0   175.0

         College      Salary
100  Wake Forest  21468695.0

(175.0, 'Los Angeles Lakers')
               Name                Team  Number Position   Age Height  Weight  \
118  Louis Williams  Los Angeles Lakers    23.0       SG  29.0    6-1   175.0

    College     Salary
118    None  7000000.0

(175.0, 'Memphis Grizzlies')
            Name               Team  Number Position   Age Height  Weight  \
262  Mike Conley  Memphis Grizzlies    11.0       PG  28.0    6-1   175.0

        College     Salary
262  Ohio State  9588426.0

(175.0, 'New Orleans Pelicans')
            Name                  Team  Number Position   Age Height  Weight  \
279  Norris Cole  New Orleans Pelicans    30.0       PG  27.0    6-2   175.0

             College     Salary
279  Cleveland State  3036927.0

(175.0, 'Orlando Magic')
               Name           Team  Number Position   Age Height  Weight  \
361  Shabazz Napier  Orlando Magic    13.0       PG  24.0    6-1   175.0
367     C.J. Watson  Orlando Magic    32.0       PG  32.0    6-2   175.0

         College     Salary
361  Connecticut  1294440.0
367    Tennessee  5000000.0

(175.0, 'Philadelphia 76ers')
         Name                Team  Number Position   Age Height  Weight  \
57  Ish Smith  Philadelphia 76ers     1.0       PG  27.0    6-0   175.0

        College    Salary
57  Wake Forest  947276.0

(175.0, 'Phoenix Suns')
             Name          Team  Number Position   Age Height  Weight  \
130  Phil Pressey  Phoenix Suns    25.0       PG  25.0   5-11   175.0

      College   Salary
130  Missouri  55722.0

(175.0, 'Sacramento Kings')
                Name              Team  Number Position   Age Height  Weight  \
142  Darren Collison  Sacramento Kings     7.0       PG  28.0    6-0   175.0

    College     Salary
142    UCLA  5013559.0

(179.0, 'Cleveland Cavaliers')
             Name                 Team  Number Position   Age Height  Weight  \
175  Jordan McRae  Cleveland Cavaliers    12.0       SG  25.0    6-5   179.0

       College    Salary
175  Tennessee  111196.0

(179.0, 'Utah Jazz')
          Name       Team  Number Position   Age Height  Weight College  \
454  Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0    None

       Salary
454  900000.0

(180.0, 'Boston Celtics')
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0

  College     Salary
0   Texas  7730337.0

(180.0, 'Indiana Pacers')
          Name            Team  Number Position   Age Height  Weight College  \
210  Joe Young  Indiana Pacers     1.0       PG  23.0    6-2   180.0  Oregon

        Salary
210  1007026.0

(180.0, 'Memphis Grizzlies')
               Name               Team  Number Position   Age Height  Weight  \
264   Jordan Farmar  Memphis Grizzlies     4.0       PG  29.0    6-2   180.0
270  Xavier Munford  Memphis Grizzlies    14.0       PG  24.0    6-3   180.0

          College Salary
264          UCLA   None
270  Rhode Island   None

(183.0, 'Denver Nuggets')
              Name            Team  Number Position   Age Height  Weight  \
384  D.J. Augustin  Denver Nuggets    12.0       PG  28.0    6-0   183.0

    College     Salary
384   Texas  3000000.0

(184.0, 'Charlotte Hornets')
             Name               Team  Number Position   Age Height  Weight  \
336  Kemba Walker  Charlotte Hornets    15.0       PG  26.0    6-1   184.0

         College      Salary
336  Connecticut  12000000.0

(185.0, 'Boston Celtics')
             Name            Team  Number Position   Age Height  Weight  \
3     R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
11  Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0

          College     Salary
3   Georgia State  1148640.0
11     Washington  6912869.0

(185.0, 'Charlotte Hornets')
            Name               Team  Number Position   Age Height  Weight  \
333  Jeremy Lamb  Charlotte Hornets     3.0       SG  24.0    6-5   185.0

         College     Salary
333  Connecticut  3034356.0

(185.0, 'Chicago Bulls')
               Name           Team  Number Position   Age Height  Weight  \
158  Justin Holiday  Chicago Bulls     7.0       SG  27.0    6-6   185.0

        College    Salary
158  Washington  947276.0

(185.0, 'Dallas Mavericks')
             Name              Team  Number Position   Age Height  Weight  \
228    J.J. Barea  Dallas Mavericks     5.0       PG  31.0    6-0   185.0
231  Devin Harris  Dallas Mavericks    34.0       PG  33.0    6-3   185.0

          College     Salary
228  Northeastern  4290000.0
231     Wisconsin  4053446.0

(185.0, 'Houston Rockets')
                 Name             Team  Number Position   Age Height  Weight  \
244  Patrick Beverley  Houston Rockets     2.0       PG  27.0    6-1   185.0
256       Jason Terry  Houston Rockets    31.0       SG  38.0    6-2   185.0

      College     Salary
244  Arkansas  6486486.0
256   Arizona   947276.0

(185.0, 'Indiana Pacers')
            Name            Team  Number Position   Age Height  Weight  \
198  Monta Ellis  Indiana Pacers    11.0       SG  30.0    6-3   185.0

    College      Salary
198    None  10300000.0

(185.0, 'Los Angeles Clippers')
               Name                  Team  Number Position   Age Height  \
102  Pablo Prigioni  Los Angeles Clippers     9.0       PG  39.0    6-3

     Weight College    Salary
102   185.0    None  947726.0

(185.0, 'Oklahoma City Thunder')
              Name                   Team  Number Position   Age Height  \
422  Cameron Payne  Oklahoma City Thunder    22.0       PG  21.0    6-3

     Weight       College     Salary
422   185.0  Murray State  2021520.0

(185.0, 'Orlando Magic')
              Name           Team  Number Position   Age Height  Weight  \
364  Elfrid Payton  Orlando Magic     4.0       PG  22.0    6-4   185.0

                 College     Salary
364  Louisiana-Lafayette  2505720.0

(185.0, 'Portland Trail Blazers')
             Name                    Team  Number Position   Age Height  \
438  Luis Montero  Portland Trail Blazers    44.0       SG  23.0    6-7

     Weight         College    Salary
438   185.0  Westchester CC  525093.0

(185.0, 'Sacramento Kings')
           Name              Team  Number Position   Age Height  Weight  \
144  Seth Curry  Sacramento Kings    30.0       SG  25.0    6-2   185.0

    College    Salary
144    Duke  947276.0

(185.0, 'San Antonio Spurs')
            Name               Team  Number Position   Age Height  Weight  \
305  Patty Mills  San Antonio Spurs     8.0       PG  27.0    6-0   185.0
306  Tony Parker  San Antonio Spurs     9.0       PG  34.0    6-2   185.0

          College      Salary
305  Saint Mary's   3578947.0
306          None  13437500.0

(186.0, 'Atlanta Hawks')
            Name           Team  Number Position   Age Height  Weight  \
323  Jeff Teague  Atlanta Hawks     0.0       PG  27.0    6-2   186.0

         College     Salary
323  Wake Forest  8000000.0

(186.0, 'Houston Rockets')
             Name             Team  Number Position   Age Height  Weight  \
245  Corey Brewer  Houston Rockets    33.0       SG  30.0    6-9   186.0

     College     Salary
245  Florida  8229375.0

(186.0, 'Miami Heat')
              Name        Team  Number Position   Age Height  Weight  \
345  Tyler Johnson  Miami Heat     8.0       SG  24.0    6-4   186.0

          College    Salary
345  Fresno State  845059.0

(186.0, 'Sacramento Kings')
            Name              Team  Number Position   Age Height  Weight  \
150  Rajon Rondo  Sacramento Kings     9.0       PG  30.0    6-1   186.0

      College     Salary
150  Kentucky  9500000.0

(188.0, 'Indiana Pacers')
            Name            Team  Number Position   Age Height  Weight  \
200  George Hill  Indiana Pacers     3.0       PG  30.0    6-3   188.0

    College     Salary
200   IUPUI  8000000.0

(189.0, 'Charlotte Hornets')
                Name               Team  Number Position   Age Height  Weight  \
326  Jorge Gutierrez  Charlotte Hornets    12.0       PG  27.0    6-3   189.0

        College    Salary
326  California  189455.0

(189.0, 'Detroit Pistons')
              Name             Team  Number Position   Age Height  Weight  \
184  Lorenzo Brown  Detroit Pistons    17.0       PG  25.0    6-5   189.0

                  College    Salary
184  North Carolina State  111444.0

(189.0, 'Minnesota Timberwolves')
            Name                    Team  Number Position   Age Height  \
402  Zach LaVine  Minnesota Timberwolves     8.0       PG  21.0    6-5

     Weight College     Salary
402   189.0    UCLA  2148360.0

(189.0, 'Phoenix Suns')
               Name          Team  Number Position   Age Height  Weight  \
127  Brandon Knight  Phoenix Suns     3.0       PG  24.0    6-3   189.0

      College      Salary
127  Kentucky  13500000.0

(190.0, 'Atlanta Hawks')
             Name           Team  Number Position   Age Height  Weight  \
311  Kirk Hinrich  Atlanta Hawks    12.0       SG  35.0    6-4   190.0

    College     Salary
311  Kansas  2854940.0

(190.0, 'Boston Celtics')
           Name            Team  Number Position   Age Height  Weight  \
8  Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0

      College     Salary
8  Louisville  1824360.0

(190.0, 'Brooklyn Nets')
            Name           Team  Number Position   Age Height  Weight  \
16  Markel Brown  Brooklyn Nets    22.0       SG  24.0    6-3   190.0

           College    Salary
16  Oklahoma State  845059.0

(190.0, 'Chicago Bulls')
             Name           Team  Number Position   Age Height  Weight  \
164  Derrick Rose  Chicago Bulls     1.0       PG  27.0    6-3   190.0

     College      Salary
164  Memphis  20093064.0

(190.0, 'Denver Nuggets')
              Name            Team  Number Position   Age Height  Weight  \
394  Jameer Nelson  Denver Nuggets     1.0       PG  34.0    6-0   190.0

            College     Salary
394  Saint Joseph's  4345000.0

(190.0, 'Golden State Warriors')
             Name                   Team  Number Position   Age Height  \
80  Stephen Curry  Golden State Warriors    30.0       PG  28.0    6-3

    Weight   College      Salary
80   190.0  Davidson  11370786.0

(190.0, 'Los Angeles Clippers')
          Name                  Team  Number Position   Age Height  Weight  \
103  JJ Redick  Los Angeles Clippers     4.0       SG  31.0    6-4   190.0

    College     Salary
103    Duke  7085000.0

(190.0, 'Memphis Grizzlies')
             Name               Team  Number Position   Age Height  Weight  \
269  Ray McCallum  Memphis Grizzlies     5.0       PG  24.0    6-3   190.0

     College Salary
269  Detroit   None

(190.0, 'Miami Heat')
             Name        Team  Number Position   Age Height  Weight College  \
341  Goran Dragic  Miami Heat     7.0       PG  30.0    6-3   190.0    None

         Salary
341  14783000.0

(190.0, 'Milwaukee Bucks')
                        Name             Team  Number Position   Age Height  \
213  Michael Carter-Williams  Milwaukee Bucks     5.0       PG  24.0    6-6

     Weight   College     Salary
213   190.0  Syracuse  2399040.0

(190.0, 'Phoenix Suns')
             Name          Team  Number Position   Age Height  Weight  \
121  Eric Bledsoe  Phoenix Suns     2.0       PG  26.0    6-1   190.0
131  Ronnie Price  Phoenix Suns    14.0       PG  32.0    6-2   190.0

         College      Salary
121     Kentucky  13500000.0
131  Utah Valley    947276.0

(190.0, 'Toronto Raptors')
            Name             Team  Number Position   Age Height  Weight  \
66   Cory Joseph  Toronto Raptors     6.0       PG  24.0    6-3   190.0
75  Delon Wright  Toronto Raptors    55.0       PG  24.0    6-5   190.0

   College     Salary
66   Texas  7000000.0
75    Utah  1509360.0

(190.0, 'Utah Jazz')
           Name       Team  Number Position   Age Height  Weight College  \
445  Dante Exum  Utah Jazz    11.0       PG  20.0    6-6   190.0    None

        Salary
445  3777720.0

(190.0, 'Washington Wizards')
               Name                Team  Number Position   Age Height  Weight  \
379  Ramon Sessions  Washington Wizards     7.0       PG  30.0    6-3   190.0

    College     Salary
379  Nevada  2170465.0

(191.0, 'Chicago Bulls')
              Name           Team  Number Position   Age Height  Weight  \
161  E'Twaun Moore  Chicago Bulls    55.0       SG  27.0    6-4   191.0

    College     Salary
161  Purdue  1015421.0

(191.0, 'Utah Jazz')
           Name       Team  Number Position   Age Height  Weight   College  \
443  Trey Burke  Utah Jazz     3.0       PG  23.0    6-1   191.0  Michigan

        Salary
443  2658240.0

(192.0, 'Golden State Warriors')
                Name                   Team  Number Position   Age Height  \
84  Shaun Livingston  Golden State Warriors    34.0       PG  30.0    6-7

    Weight College     Salary
84   192.0    None  5543725.0

(193.0, 'Cleveland Cavaliers')
             Name                 Team  Number Position   Age Height  Weight  \
168  Kyrie Irving  Cleveland Cavaliers     2.0       PG  24.0    6-3   193.0

    College      Salary
168    Duke  16407501.0

(194.0, 'Golden State Warriors')
               Name                   Team  Number Position   Age Height  \
76  Leandro Barbosa  Golden State Warriors    19.0       SG  33.0    6-3

    Weight College     Salary
76   194.0    None  2500000.0

(194.0, 'Los Angeles Lakers')
                Name                Team  Number Position   Age Height  \
110  Jordan Clarkson  Los Angeles Lakers     6.0       PG  24.0    6-5

     Weight   College    Salary
110   194.0  Missouri  845059.0

(194.0, 'Milwaukee Bucks')
            Name             Team  Number Position   Age Height  Weight  \
215  Tyler Ennis  Milwaukee Bucks    11.0       PG  21.0    6-3   194.0

      College     Salary
215  Syracuse  1662360.0

(194.0, 'Minnesota Timberwolves')
            Name                    Team  Number Position   Age Height  \
407  Ricky Rubio  Minnesota Timberwolves     9.0       PG  25.0    6-4

     Weight College      Salary
407   194.0    None  12700000.0

(195.0, 'Indiana Pacers')
          Name            Team  Number Position   Age Height  Weight  \
203  Ty Lawson  Indiana Pacers    10.0       PG  28.0   5-11   195.0

            College    Salary
203  North Carolina  211744.0

(195.0, 'Los Angeles Clippers')
               Name                  Team  Number Position   Age Height  \
93   Jamal Crawford  Los Angeles Clippers    11.0       SG  36.0    6-5
105     C.J. Wilcox  Los Angeles Clippers    30.0       SG  25.0    6-5

     Weight     College     Salary
93    195.0    Michigan  5675000.0
105   195.0  Washington  1159680.0

(195.0, 'Los Angeles Lakers')
                 Name                Team  Number Position   Age Height  \
116  D'Angelo Russell  Los Angeles Lakers     1.0       PG  20.0    6-5

     Weight     College     Salary
116   195.0  Ohio State  5103120.0

(195.0, 'Milwaukee Bucks')
                 Name             Team  Number Position   Age Height  Weight  \
214  Jared Cunningham  Milwaukee Bucks     9.0       SG  25.0    6-4   195.0

          College    Salary
214  Oregon State  947276.0

(195.0, 'Minnesota Timberwolves')
           Name                    Team  Number Position   Age Height  Weight  \
401  Tyus Jones  Minnesota Timberwolves     1.0       PG  20.0    6-2   195.0

    College     Salary
401    Duke  1282080.0

(195.0, 'New Orleans Pelicans')
              Name                  Team  Number Position   Age Height  \
283  Toney Douglas  New Orleans Pelicans    16.0       PG  30.0    6-2

     Weight        College     Salary
283   195.0  Florida State  1164858.0

(195.0, 'New York Knicks')
             Name             Team  Number Position   Age Height  Weight  \
37   Jerian Grant  New York Knicks    13.0       PG  23.0    6-4   195.0
43  Sasha Vujacic  New York Knicks    18.0       SG  32.0    6-7   195.0

       College     Salary
37  Notre Dame  1572360.0
43        None   947276.0

(195.0, 'Portland Trail Blazers')
               Name                    Team  Number Position   Age Height  \
436  Damian Lillard  Portland Trail Blazers     0.0       PG  25.0    6-3

     Weight      College     Salary
436   195.0  Weber State  4236287.0

(195.0, 'Sacramento Kings')
             Name              Team  Number Position   Age Height  Weight  \
148  Ben McLemore  Sacramento Kings    23.0       SG  23.0    6-5   195.0

    College     Salary
148  Kansas  3156600.0

(195.0, 'San Antonio Spurs')
                 Name               Team  Number Position   Age Height  \
307  Jonathon Simmons  San Antonio Spurs    17.0       SG  26.0    6-6

     Weight  College    Salary
307   195.0  Houston  525093.0

(195.0, 'Toronto Raptors')
             Name             Team  Number Position   Age Height  Weight  \
71  Terrence Ross  Toronto Raptors    31.0       SF  25.0    6-7   195.0

       College     Salary
71  Washington  3553917.0

(195.0, 'Washington Wizards')
               Name                Team  Number Position   Age Height  Weight  \
380  Garrett Temple  Washington Wizards    17.0       SG  30.0    6-6   195.0
382       John Wall  Washington Wizards     2.0       PG  25.0    6-4   195.0

      College      Salary
380       LSU   1100602.0
382  Kentucky  15851950.0


              Name               Team  Number Position   Age Height  Weight  \
324  Nicolas Batum  Charlotte Hornets     5.0       SG  27.0    6-8   200.0
334   Courtney Lee  Charlotte Hornets     1.0       SG  30.0    6-5   200.0
335     Jeremy Lin  Charlotte Hornets     7.0       PG  27.0    6-3   200.0

              College      Salary
324              None  13125306.0
334  Western Kentucky   5675000.0
335           Harvard   2139000.0

(200.0, 'Chicago Bulls')
           Name           Team  Number Position   Age Height  Weight  \
165  Tony Snell  Chicago Bulls    20.0       SF  24.0    6-7   200.0

        College     Salary
165  New Mexico  1535880.0

(200.0, 'Dallas Mavericks')
               Name              Team  Number Position   Age Height  Weight  \
229    Jeremy Evans  Dallas Mavericks    21.0       SF  28.0    6-9   200.0
241  Deron Williams  Dallas Mavericks     8.0       PG  31.0    6-3   200.0

              College     Salary
229  Western Kentucky  1100602.0
241          Illinois  5378974.0

(200.0, 'Denver Nuggets')
                Name            Team  Number Position   Age Height  Weight  \
393  Emmanuel Mudiay  Denver Nuggets     0.0       PG  20.0    6-5   200.0

    College     Salary
393    None  3102240.0

(200.0, 'Detroit Pistons')
                  Name             Team  Number Position   Age Height  Weight  \
187  Spencer Dinwiddie  Detroit Pistons     8.0       PG  23.0    6-6   200.0

      College    Salary
187  Colorado  845059.0

(200.0, 'Houston Rockets')
                 Name             Team  Number Position   Age Height  Weight  \
248  Andrew Goudelock  Houston Rockets     0.0       PG  27.0    6-3   200.0

        College    Salary
248  Charleston  200600.0

(200.0, 'Los Angeles Clippers')
              Name                  Team  Number Position   Age Height  \
104  Austin Rivers  Los Angeles Clippers    25.0       PG  23.0    6-4

     Weight College     Salary
104   200.0    Duke  3110796.0

(200.0, 'Los Angeles Lakers')
                Name                Team  Number Position   Age Height  \
112  Marcelo Huertas  Los Angeles Lakers     9.0       PG  33.0    6-3

     Weight College    Salary
112   200.0    None  525093.0

(200.0, 'Miami Heat')
                Name        Team  Number Position   Age Height  Weight  \
347  Josh Richardson  Miami Heat     0.0       SG  22.0    6-6   200.0

       College    Salary
347  Tennessee  525093.0

(200.0, 'Milwaukee Bucks')
               Name             Team  Number Position   Age Height  Weight  \
212  Jerryd Bayless  Milwaukee Bucks    19.0       PG  27.0    6-3   200.0

     College     Salary
212  Arizona  3000000.0

(200.0, 'New York Knicks')
                 Name             Team  Number Position   Age Height  Weight  \
34      Jose Calderon  New York Knicks     3.0       PG  34.0    6-3   200.0
36  Langston Galloway  New York Knicks     2.0       SG  24.0    6-2   200.0

           College     Salary
34            None  7402812.0
36  Saint Joseph's   845059.0

(200.0, 'Oklahoma City Thunder')
                  Name                   Team  Number Position   Age Height  \
426  Russell Westbrook  Oklahoma City Thunder     0.0       PG  27.0    6-3

     Weight College      Salary
426   200.0    UCLA  16744218.0

(200.0, 'Orlando Magic')
             Name           Team  Number Position   Age Height  Weight  \
360  Devyn Marble  Orlando Magic    11.0       SF  23.0    6-6   200.0

    College    Salary
360    Iowa  845059.0

(200.0, 'Philadelphia 76ers')
                Name                Team  Number Position   Age Height  \
53  Kendall Marshall  Philadelphia 76ers     5.0       PG  24.0    6-4
54    T.J. McConnell  Philadelphia 76ers    12.0       PG  24.0    6-2

    Weight         College     Salary
53   200.0  North Carolina  2144772.0
54   200.0         Arizona   525093.0

(200.0, 'Phoenix Suns')
               Name          Team  Number Position   Age Height  Weight  \
125  Archie Goodwin  Phoenix Suns    20.0       SG  21.0    6-5   200.0

      College     Salary
125  Kentucky  1160160.0

(200.0, 'Portland Trail Blazers')
              Name                    Team  Number Position   Age Height  \
437  C.J. McCollum  Portland Trail Blazers     3.0       SG  24.0    6-4

     Weight College     Salary
437   200.0  Lehigh  2525160.0

(200.0, 'San Antonio Spurs')
             Name               Team  Number Position   Age Height  Weight  \
304  Andre Miller  San Antonio Spurs    24.0       PG  40.0    6-3   200.0

    College    Salary
304    Utah  250750.0

(201.0, 'Atlanta Hawks')
              Name           Team  Number Position   Age Height  Weight  \
309  Kent Bazemore  Atlanta Hawks    24.0       SF  26.0    6-5   201.0

          College     Salary
309  Old Dominion  2000000.0

(201.0, 'Philadelphia 76ers')
             Name                Team  Number Position   Age Height  Weight  \
47  Isaiah Canaan  Philadelphia 76ers     0.0       PG  25.0    6-0   201.0

         College    Salary
47  Murray State  947276.0

(202.0, 'Milwaukee Bucks')
              Name             Team  Number Position   Age Height  Weight  \
226  Rashad Vaughn  Milwaukee Bucks    20.0       SG  19.0    6-6   202.0

    College     Salary
226    UNLV  1733040.0

(203.0, 'New Orleans Pelicans')
                   Name                  Team  Number Position   Age Height  \
282  Bryce Dejean-Jones  New Orleans Pelicans    31.0       SG  23.0    6-6

     Weight     College    Salary
282   203.0  Iowa State  169883.0

(203.0, 'Utah Jazz')
             Name       Team  Number Position   Age Height  Weight College  \
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler

        Salary
453  2433333.0

(205.0, 'Atlanta Hawks')
                 Name           Team  Number Position   Age Height  Weight  \
310  Tim Hardaway Jr.  Atlanta Hawks    10.0       SG  24.0    6-6   205.0

      College     Salary
310  Michigan  1304520.0

(205.0, 'Boston Celtics')
           Name            Team  Number Position   Age Height  Weight  \
2  John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

             College Salary
2  Boston University   None

(205.0, 'Brooklyn Nets')
            Name           Team  Number Position   Age Height  Weight  \
28  Donald Sloan  Brooklyn Nets    15.0       PG  28.0    6-3   205.0

      College    Salary
28  Texas A&M  947276.0

(205.0, 'Charlotte Hornets')
             Name               Team  Number Position   Age Height  Weight  \
325  Troy Daniels  Charlotte Hornets    30.0       SG  24.0    6-4   205.0

                   College    Salary
325  Virginia Commonwealth  947276.0

(205.0, 'Dallas Mavericks')
               Name              Team  Number Position   Age Height  Weight  \
230  Raymond Felton  Dallas Mavericks     2.0       PG  31.0    6-1   205.0

            College     Salary
230  North Carolina  3950313.0

(205.0, 'Detroit Pistons')
                         Name             Team  Number Position   Age Height  \
185            Reggie Bullock  Detroit Pistons    25.0       SF  25.0    6-7
186  Kentavious Caldwell-Pope  Detroit Pistons     5.0       SG  23.0    6-5
190           Darrun Hilliard  Detroit Pistons     6.0       SF  23.0    6-6

     Weight         College     Salary
185   205.0  North Carolina  1252440.0
186   205.0         Georgia  2891760.0
190   205.0       Villanova   600000.0

(205.0, 'Houston Rockets')
               Name             Team  Number Position   Age Height  Weight  \
253  K.J. McDaniels  Houston Rockets    32.0       SG  23.0    6-6   205.0

     College     Salary
253  Clemson  3189794.0

(205.0, 'Indiana Pacers')
               Name            Team  Number Position   Age Height  Weight  \
207  Rodney Stuckey  Indiana Pacers     2.0       PG  30.0    6-5   205.0

                College     Salary
207  Eastern Washington  7000000.0

(205.0, 'Miami Heat')
              Name        Team  Number Position   Age Height  Weight College  \
342   Gerald Green  Miami Heat    14.0       SF  30.0    6-7   205.0    None
353  Dorell Wright  Miami Heat    11.0       SF  30.0    6-9   205.0    None

       Salary
342  947276.0
353      None

(205.0, 'New Orleans Pelicans')
             Name                  Team  Number Position   Age Height  Weight  \
290  Jrue Holiday  New Orleans Pelicans    11.0       PG  25.0    6-4   205.0

    College      Salary
290    UCLA  10595507.0

(205.0, 'New York Knicks')
                      Name             Team  Number Position   Age Height  \
32  Thanasis Antetokounmpo  New York Knicks    43.0       SF  23.0    6-7
45             Tony Wroten  New York Knicks     5.0       SG  23.0    6-6

    Weight     College    Salary
32   205.0        None   30888.0
45   205.0  Washington  167406.0

(205.0, 'Orlando Magic')
              Name           Team  Number Position   Age Height  Weight  \
355  Evan Fournier  Orlando Magic    10.0       SG  23.0    6-7   205.0

    College     Salary
355    None  2288205.0

(205.0, 'Philadelphia 76ers')
            Name                Team  Number Position   Age Height  Weight  \
58  Nik Stauskas  Philadelphia 76ers    11.0       SG  22.0    6-6   205.0

     College     Salary
58  Michigan  2869440.0

(205.0, 'San Antonio Spurs')
              Name               Team  Number Position   Age Height  Weight  \
299  Manu Ginobili  San Antonio Spurs    20.0       SG  38.0    6-6   205.0

    College     Salary
299    None  2814000.0

(205.0, 'Toronto Raptors')
             Name             Team  Number Position   Age Height  Weight  \
62  Bruno Caboclo  Toronto Raptors    20.0       SF  20.0    6-9   205.0
67     Kyle Lowry  Toronto Raptors     7.0       PG  30.0    6-0   205.0

      College      Salary
62       None   1524000.0
67  Villanova  12000000.0

(205.0, 'Washington Wizards')
                Name                Team  Number Position   Age Height  \
377  Kelly Oubre Jr.  Washington Wizards    12.0       SF  20.0    6-7
381  Marcus Thornton  Washington Wizards    15.0       SF  29.0    6-4

     Weight College     Salary
377   205.0  Kansas  1920240.0
381   205.0     LSU   200600.0

(206.0, 'Philadelphia 76ers')
               Name                Team  Number Position   Age Height  Weight  \
59  Hollis Thompson  Philadelphia 76ers    31.0       SG  25.0    6-8   206.0

       College    Salary
59  Georgetown  947276.0

(206.0, 'Phoenix Suns')
             Name          Team  Number Position   Age Height  Weight  \
122  Devin Booker  Phoenix Suns     1.0       SG  19.0    6-6   206.0

      College     Salary
122  Kentucky  2127840.0

(206.0, 'Portland Trail Blazers')
                Name                    Team  Number Position   Age Height  \
429  Pat Connaughton  Portland Trail Blazers     5.0       SG  23.0    6-5

     Weight     College    Salary
429   206.0  Notre Dame  625093.0

(206.0, 'Utah Jazz')
              Name       Team  Number Position   Age Height  Weight College  \
449    Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0    Duke
451  Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0  Dayton

        Salary
449  1348440.0
451   981348.0

(207.0, 'Washington Wizards')
             Name                Team  Number Position   Age Height  Weight  \
369  Bradley Beal  Washington Wizards     3.0       SG  22.0    6-5   207.0

     College     Salary
369  Florida  5694674.0

(208.0, 'Brooklyn Nets')
              Name           Team  Number Position   Age Height  Weight  \
20  Sergey Karasev  Brooklyn Nets    10.0       SG  22.0    6-7   208.0

   College     Salary
20    None  1599840.0

(208.0, 'Detroit Pistons')
               Name             Team  Number Position   Age Height  Weight  \
191  Reggie Jackson  Detroit Pistons     1.0       PG  26.0    6-3   208.0

            College      Salary
191  Boston College  13913044.0

(209.0, 'Memphis Grizzlies')
             Name               Team  Number Position   Age Height  Weight  \
257  Jordan Adams  Memphis Grizzlies     3.0       SG  21.0    6-5   209.0

    College     Salary
257    UCLA  1404600.0

(209.0, 'Phoenix Suns')
               Name          Team  Number Position   Age Height  Weight  \
123  Chase Budinger  Phoenix Suns    10.0       SF  28.0    6-7   209.0

     College    Salary
123  Arizona  206192.0

(210.0, 'Charlotte Hornets')
               Name               Team  Number Position   Age Height  Weight  \
328  Aaron Harrison  Charlotte Hornets     9.0       SG  21.0    6-6   210.0

      College    Salary
328  Kentucky  525093.0

(210.0, 'Denver Nuggets')

             Name            Team  Number Position   Age Height  Weight  \
389   Gary Harris  Denver Nuggets    14.0       SG  21.0    6-4   210.0
397  Axel Toupane  Denver Nuggets     6.0       SG  23.0    6-7   210.0

            College     Salary
389  Michigan State  1584480.0
397            None       None

(210.0, 'Detroit Pistons')
            Name             Team  Number Position   Age Height  Weight  \
193  Jodie Meeks  Detroit Pistons    20.0       SG  28.0    6-4   210.0

      College     Salary
193  Kentucky  6270000.0

(210.0, 'Los Angeles Lakers')
              Name                Team  Number Position   Age Height  Weight  \
108  Anthony Brown  Los Angeles Lakers     3.0       SF  23.0    6-7   210.0
120     Nick Young  Los Angeles Lakers     0.0       SF  31.0    6-7   210.0

      College     Salary
108  Stanford   700000.0
120       USC  5219169.0

(210.0, 'Memphis Grizzlies')
               Name               Team  Number Position   Age Height  Weight  \
274  Brandan Wright  Memphis Grizzlies    34.0       PF  28.0   6-10   210.0

            College     Salary
274  North Carolina  5464000.0

(210.0, 'Milwaukee Bucks')
          Name             Team  Number Position   Age Height  Weight College  \
218  O.J. Mayo  Milwaukee Bucks     3.0       SG  28.0    6-5   210.0     USC

        Salary
218  8000000.0

(210.0, 'New Orleans Pelicans')
            Name                  Team  Number Position   Age Height  Weight  \
284  James Ennis  New Orleans Pelicans     4.0       SF  25.0    6-7   210.0

              College    Salary
284  Long Beach State  845059.0

(210.0, 'New York Knicks')
                Name             Team  Number Position   Age Height  Weight  \
30     Arron Afflalo  New York Knicks     4.0       SG  30.0    6-5   210.0
35  Cleanthony Early  New York Knicks    11.0       SF  25.0    6-8   210.0

          College     Salary
30           UCLA  8000000.0
35  Wichita State   845059.0

(210.0, 'Oklahoma City Thunder')
               Name                   Team  Number Position   Age Height  \
421  Anthony Morrow  Oklahoma City Thunder     2.0       SG  30.0    6-5
423  Andre Roberson  Oklahoma City Thunder    21.0       SG  24.0    6-7

     Weight       College     Salary
421   210.0  Georgia Tech  3344000.0
423   210.0      Colorado  1210800.0

(210.0, 'Orlando Magic')
               Name           Team  Number Position   Age Height  Weight  \
363  Victor Oladipo  Orlando Magic     5.0       SG  24.0    6-4   210.0

     College     Salary
363  Indiana  5192520.0

(210.0, 'Philadelphia 76ers')
            Name                Team  Number Position   Age Height  Weight  \
50  Jerami Grant  Philadelphia 76ers    39.0       SF  22.0    6-8   210.0

     College    Salary
50  Syracuse  845059.0

(210.0, 'Portland Trail Blazers')
             Name                    Team  Number Position   Age Height  \
430  Allen Crabbe  Portland Trail Blazers    23.0       SG  24.0    6-6

     Weight     College    Salary
430   210.0  California  947276.0

(210.0, 'Sacramento Kings')
                Name              Team  Number Position   Age Height  Weight  \
138  Marco Belinelli  Sacramento Kings     3.0       SG  30.0    6-5   210.0

    College     Salary
138    None  6060606.0

(212.0, 'Atlanta Hawks')
            Name           Team  Number Position   Age Height  Weight  \
314  Kyle Korver  Atlanta Hawks    26.0       SG  35.0    6-7   212.0

       College     Salary
314  Creighton  5746479.0

(212.0, 'Los Angeles Lakers')
            Name                Team  Number Position   Age Height  Weight  \
109  Kobe Bryant  Los Angeles Lakers    24.0       SF  37.0    6-6   212.0

    College      Salary
109    None  25000000.0

(212.0, 'Minnesota Timberwolves')
                Name                    Team  Number Position   Age Height  \
406  Tayshaun Prince  Minnesota Timberwolves    12.0       SF  36.0    6-9

     Weight   College    Salary
406   212.0  Kentucky  947276.0

(212.0, 'Toronto Raptors')
               Name             Team  Number Position   Age Height  Weight  \
63  DeMarre Carroll  Toronto Raptors     5.0       SF  29.0    6-8   212.0

     College      Salary
63  Missouri  13600000.0

(213.0, 'Memphis Grizzlies')
           Name               Team  Number Position   Age Height  Weight  \
258  Tony Allen  Memphis Grizzlies     9.0       SG  34.0    6-4   213.0

            College     Salary
258  Oklahoma State  5158539.0

(213.0, 'Oklahoma City Thunder')
           Name                   Team  Number Position   Age Height  Weight  \
415  Randy Foye  Oklahoma City Thunder     6.0       SG  32.0    6-4   213.0

       College     Salary
415  Villanova  3135000.0

(213.0, 'Sacramento Kings')
               Name              Team  Number Position   Age Height  Weight  \
137  James Anderson  Sacramento Kings     5.0       SG  27.0    6-6   213.0

            College     Salary
137  Oklahoma State  1015421.0

(214.0, 'Denver Nuggets')
               Name            Team  Number Position   Age Height  Weight  \
396  JaKarr Sampson  Denver Nuggets     9.0       SG  23.0    6-9   214.0

        College    Salary
396  St. John's  258489.0

(214.0, 'Utah Jazz')
           Name       Team  Number Position   Age Height  Weight   College  \
444  Alec Burks  Utah Jazz    10.0       SG  24.0    6-6   214.0  Colorado

        Salary
444  9463484.0

(215.0, 'Boston Celtics')
           Name            Team  Number Position   Age Height  Weight  \
13  James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0

     College     Salary
13  Kentucky  1749840.0

(215.0, 'Golden State Warriors')
              Name                   Team  Number Position   Age Height  \
83  Andre Iguodala  Golden State Warriors     9.0       SF  32.0    6-6
89   Klay Thompson  Golden State Warriors    11.0       SG  26.0    6-7

    Weight           College      Salary
83   215.0           Arizona  11710456.0
89   215.0  Washington State  15501000.0

(215.0, 'Houston Rockets')
             Name             Team  Number Position   Age Height  Weight  \
242  Trevor Ariza  Houston Rockets     1.0       SF  30.0    6-8   215.0

    College     Salary
242    UCLA  8193030.0

(215.0, 'Los Angeles Clippers')
              Name                  Team  Number Position   Age Height  \
97  Wesley Johnson  Los Angeles Clippers    33.0       SF  28.0    6-7

    Weight   College     Salary
97   215.0  Syracuse  1100602.0

(215.0, 'New Orleans Pelicans')
            Name                  Team  Number Position   Age Height  Weight  \
288  Eric Gordon  New Orleans Pelicans    10.0       SG  27.0    6-4   215.0

     College      Salary
288  Indiana  15514031.0

(215.0, 'Philadelphia 76ers')
                Name                Team  Number Position   Age Height  \
48  Robert Covington  Philadelphia 76ers    33.0       SF  25.0    6-9

    Weight          College     Salary
48   215.0  Tennessee State  1000000.0

(215.0, 'Phoenix Suns')
             Name          Team  Number Position   Age Height  Weight  \
126  John Jenkins  Phoenix Suns    23.0       SG  25.0    6-4   215.0

        College    Salary
126  Vanderbilt  981348.0

(215.0, 'Portland Trail Blazers')
                 Name                    Team  Number Position   Age Height  \
428   Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0    6-9
432  Maurice Harkless  Portland Trail Blazers     4.0       SF  23.0    6-9
433  Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0    6-5

     Weight      College     Salary
428   215.0  Wake Forest  8042895.0
432   215.0   St. John's  2894059.0
433   215.0         Duke  6000000.0

(215.0, 'San Antonio Spurs')
            Name               Team  Number Position   Age Height  Weight  \
300  Danny Green  San Antonio Spurs    14.0       SG  28.0    6-6   215.0

            College      Salary
300  North Carolina  10000000.0

(215.0, 'Toronto Raptors')
             Name             Team  Number Position   Age Height  Weight  \
70  Norman Powell  Toronto Raptors    24.0       SG  23.0    6-4   215.0

   College    Salary
70    UCLA  650000.0

(216.0, 'Brooklyn Nets')
                Name           Team  Number Position   Age Height  Weight  \
15  Bojan Bogdanovic  Brooklyn Nets    44.0       SG  27.0    6-8   216.0

   College     Salary
15    None  3425510.0

(217.0, 'Milwaukee Bucks')
                Name             Team  Number Position   Age Height  Weight  \
225  Greivis Vasquez  Milwaukee Bucks    21.0       PG  29.0    6-6   217.0

      College     Salary
225  Maryland  6600000.0

(218.0, 'Cleveland Cavaliers')
            Name                 Team  Number Position   Age Height  Weight  \
172  James Jones  Cleveland Cavaliers     1.0       SG  35.0    6-8   218.0

        College    Salary
172  Miami (FL)  947276.0

(218.0, 'Denver Nuggets')
            Name            Team  Number Position   Age Height  Weight  \
392  Mike Miller  Denver Nuggets     3.0       SG  36.0    6-8   218.0

     College    Salary
392  Florida  947276.0

(218.0, 'Orlando Magic')
              Name           Team  Number Position   Age Height  Weight  \
357  Mario Hezonja  Orlando Magic    23.0       SG  21.0    6-8   218.0

    College     Salary
357    None  3741480.0

(218.0, 'Washington Wizards')
             Name                Team  Number Position   Age Height  Weight  \
371  Jarell Eddie  Washington Wizards     8.0       SG  24.0    6-7   218.0

           College    Salary
371  Virginia Tech  561716.0

(219.0, 'Brooklyn Nets')
               Name           Team  Number Position   Age Height  Weight  \
21  Sean Kilpatrick  Brooklyn Nets     6.0       SG  26.0    6-4   219.0

       College    Salary
21  Cincinnati  134215.0

(220.0, 'Atlanta Hawks')
                Name           Team  Number Position   Age Height  Weight  \
320  Thabo Sefolosha  Atlanta Hawks    25.0       SF  32.0    6-7   220.0

    College     Salary
320    None  4000000.0

(220.0, 'Boston Celtics')
            Name            Team  Number Position   Age Height  Weight  \
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
12   Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0

           College     Salary
9   Oklahoma State  3431040.0
12      Ohio State  3425510.0

(220.0, 'Brooklyn Nets')
                       Name           Team  Number Position   Age Height  \
18  Rondae Hollis-Jefferson  Brooklyn Nets    24.0       SG  21.0    6-7
25              Willie Reed  Brooklyn Nets    33.0       PF  26.0   6-10

    Weight      College     Salary
18   220.0      Arizona  1335480.0
25   220.0  Saint Louis   947276.0

(220.0, 'Chicago Bulls')
               Name           Team  Number Position   Age Height  Weight  \
153    Jimmy Butler  Chicago Bulls    21.0       SG  26.0    6-7   220.0
160  Nikola Mirotic  Chicago Bulls    44.0       PF  25.0   6-10   220.0

       College      Salary
153  Marquette  16407500.0
160       None   5543725.0

(220.0, 'Cleveland Cavaliers')
              Name                 Team  Number Position   Age Height  Weight  \
177  Iman Shumpert  Cleveland Cavaliers     4.0       SG  25.0    6-5   220.0

          College     Salary
177  Georgia Tech  8988765.0

(220.0, 'Dallas Mavericks')
                Name              Team  Number Position   Age Height  Weight  \
233  Wesley Matthews  Dallas Mavericks    23.0       SG  29.0    6-5   220.0

       College      Salary
233  Marquette  16407500.0

(220.0, 'Denver Nuggets')
                  Name            Team  Number Position   Age Height  Weight  \
391  Joffrey Lauvergne  Denver Nuggets    77.0        C  24.0   6-11   220.0

    College     Salary
391    None  1709719.0

(220.0, 'Golden State Warriors')
            Name                   Team  Number Position   Age Height  Weight  \
85  Kevon Looney  Golden State Warriors    36.0       SF  20.0    6-9   220.0
87  Brandon Rush  Golden State Warriors     4.0       SF  30.0    6-6   220.0

   College     Salary
85    UCLA  1131960.0
87  Kansas  1270964.0

(220.0, 'Houston Rockets')
             Name             Team  Number Position   Age Height  Weight  \
249  James Harden  Houston Rockets    13.0       SG  26.0    6-5   220.0

           College      Salary
249  Arizona State  15756438.0

(220.0, 'Indiana Pacers')
            Name            Team  Number Position   Age Height  Weight  \
199  Paul George  Indiana Pacers    13.0       SF  26.0    6-9   220.0

          College      Salary
199  Fresno State  17120106.0

(220.0, 'Memphis Grizzlies')
             Name               Team  Number Position   Age Height  Weight  \
261  Vince Carter  Memphis Grizzlies    15.0       SG  39.0    6-6   220.0

            College     Salary
261  North Carolina  4088019.0

(220.0, 'Miami Heat')

            Name        Team  Number Position   Age Height  Weight    College  \
340    Luol Deng  Miami Heat     9.0       SF  31.0    6-9   220.0       Duke
349  Dwyane Wade  Miami Heat     3.0       SG  34.0    6-4   220.0  Marquette

         Salary
340  10151612.0
349  20000000.0

(220.0, 'New Orleans Pelicans')
                 Name                  Team  Number Position   Age Height  \
285      Tyreke Evans  New Orleans Pelicans     1.0       SG  26.0    6-6
289   Jordan Hamilton  New Orleans Pelicans    25.0       SG  25.0    6-7
291   Orlando Johnson  New Orleans Pelicans     0.0       SG  27.0    6-5
293  Quincy Pondexter  New Orleans Pelicans    20.0       SF  28.0    6-7

     Weight           College      Salary
285   220.0           Memphis  10734586.0
289   220.0             Texas   1015421.0
291   220.0  UC Santa Barbara     55722.0
293   220.0        Washington   3382023.0

(220.0, 'New York Knicks')
            Name             Team  Number Position   Age Height  Weight  \
31  Lou Amundson  New York Knicks    17.0       PF  33.0    6-9   220.0

   College     Salary
31    UNLV  1635476.0

(220.0, 'Oklahoma City Thunder')
             Name                   Team  Number Position   Age Height  \
425  Dion Waiters  Oklahoma City Thunder     3.0       SG  24.0    6-4

     Weight   College     Salary
425   220.0  Syracuse  5138430.0

(220.0, 'Orlando Magic')
             Name           Team  Number Position   Age Height  Weight  \
356  Aaron Gordon  Orlando Magic     0.0       PF  20.0    6-9   220.0

     College     Salary
356  Arizona  4171680.0

(220.0, 'Philadelphia 76ers')
              Name                Team  Number Position   Age Height  Weight  \
60  Christian Wood  Philadelphia 76ers    35.0       PF  20.0   6-11   220.0

   College    Salary
60    UNLV  525093.0

(220.0, 'Sacramento Kings')
           Name              Team  Number Position   Age Height  Weight  \
145  Duje Dukan  Sacramento Kings    26.0       PF  24.0    6-9   220.0

       College    Salary
145  Wisconsin  525093.0

(220.0, 'Toronto Raptors')
              Name             Team  Number Position   Age Height  Weight  \
64   DeMar DeRozan  Toronto Raptors    10.0       SG  26.0    6-7   220.0
68  Lucas Nogueira  Toronto Raptors    92.0        C  23.0    7-0   220.0

   College      Salary
64     USC  10050000.0
68    None   1842000.0

(220.0, 'Washington Wizards')
              Name                Team  Number Position   Age Height  Weight  \
368  Alan Anderson  Washington Wizards     6.0       SG  33.0    6-6   220.0

            College     Salary
368  Michigan State  4000000.0

(221.0, 'Brooklyn Nets')
              Name           Team  Number Position   Age Height  Weight  \
29  Thaddeus Young  Brooklyn Nets    30.0       PF  27.0    6-8   221.0

         College      Salary
29  Georgia Tech  11235955.0

(222.0, 'Houston Rockets')
                   Name             Team  Number Position   Age Height  \
254  Donatas Motiejunas  Houston Rockets    20.0       PF  25.0    7-0

     Weight College     Salary
254   222.0    None  2288205.0

(222.0, 'Indiana Pacers')
                   Name            Team  Number Position   Age Height  Weight  \
206  Glenn Robinson III  Indiana Pacers    40.0       SG  22.0    6-7   222.0

      College     Salary
206  Michigan  1100000.0

(222.0, 'Milwaukee Bucks')
                      Name             Team  Number Position   Age Height  \
211  Giannis Antetokounmpo  Milwaukee Bucks    34.0       SF  21.0   6-11

     Weight College     Salary
211   222.0    None  1953960.0

(223.0, 'Minnesota Timberwolves')
                 Name                    Team  Number Position   Age Height  \
403  Shabazz Muhammad  Minnesota Timberwolves    15.0       SF  23.0    6-6

     Weight College     Salary
403   223.0    UCLA  2056920.0

(225.0, 'Atlanta Hawks')
                Name           Team  Number Position   Age Height  Weight  \
317  Lamar Patterson  Atlanta Hawks    13.0       SG  24.0    6-5   225.0

        College    Salary
317  Pittsburgh  525093.0

(225.0, 'Chicago Bulls')
               Name           Team  Number Position   Age Height  Weight  \
157      Taj Gibson  Chicago Bulls    22.0       PF  30.0    6-9   225.0
159  Doug McDermott  Chicago Bulls     3.0       SF  24.0    6-8   225.0

       College     Salary
157        USC  8500000.0
159  Creighton  2380440.0

(225.0, 'Cleveland Cavaliers')
              Name                 Team  Number Position   Age Height  Weight  \
171  Dahntay Jones  Cleveland Cavaliers    30.0       SG  35.0    6-6   225.0
178     J.R. Smith  Cleveland Cavaliers     5.0       SG  30.0    6-6   225.0

    College     Salary
171    Duke       None
178    None  5000000.0

(225.0, 'Denver Nuggets')
                 Name            Team  Number Position   Age Height  Weight  \
386   Wilson Chandler  Denver Nuggets    21.0       SF  29.0    6-8   225.0
388  Danilo Gallinari  Denver Nuggets     8.0       SF  27.0   6-10   225.0

    College      Salary
386  DePaul  10449438.0
388    None  14000000.0

(225.0, 'Golden State Warriors')
               Name                   Team  Number Position   Age Height  \
77  Harrison Barnes  Golden State Warriors    40.0       SF  24.0    6-8

    Weight         College     Salary
77   225.0  North Carolina  3873398.0

(225.0, 'Houston Rockets')
           Name             Team  Number Position   Age Height  Weight  \
255  Josh Smith  Houston Rockets     5.0        C  30.0    6-9   225.0

    College    Salary
255    None  947276.0

(225.0, 'Indiana Pacers')
             Name            Team  Number Position   Age Height  Weight  \
202  Solomon Hill  Indiana Pacers    44.0       SF  25.0    6-7   225.0

     College     Salary
202  Arizona  1358880.0

(225.0, 'Los Angeles Clippers')
              Name                  Team  Number Position   Age Height  \
94  Branden Dawson  Los Angeles Clippers    22.0       SF  23.0    6-6

    Weight         College    Salary
94   225.0  Michigan State  525093.0

(225.0, 'Miami Heat')
                Name        Team  Number Position   Age Height  Weight  \
352  Justise Winslow  Miami Heat    20.0       SF  20.0    6-7   225.0

    College     Salary
352    Duke  2481720.0

(225.0, 'Milwaukee Bucks')
            Name             Team  Number Position   Age Height  Weight  \
221  Steve Novak  Milwaukee Bucks     6.0       SF  32.0   6-10   225.0

       College    Salary
221  Marquette  295327.0

(225.0, 'New Orleans Pelicans')
             Name                  Team  Number Position   Age Height  Weight  \
278  Luke Babbitt  New Orleans Pelicans     8.0       SF  26.0    6-9   225.0
287    Alonzo Gee  New Orleans Pelicans    15.0       SF  29.0    6-6   225.0

     College     Salary
278   Nevada  1100602.0
287  Alabama  1320000.0

(225.0, 'Sacramento Kings')
            Name              Team  Number Position   Age Height  Weight  \
140  Omri Casspi  Sacramento Kings    18.0       SF  27.0    6-9   225.0

    College     Salary
140    None  2836186.0

(225.0, 'Washington Wizards')
             Name                Team  Number Position   Age Height  Weight  \
370  Jared Dudley  Washington Wizards     1.0       SF  30.0    6-7   225.0

            College     Salary
370  Boston College  4375000.0

(226.0, 'Memphis Grizzlies')
            Name               Team  Number Position   Age Height  Weight  \
260  Matt Barnes  Memphis Grizzlies    22.0       SF  36.0    6-7   226.0

    College     Salary
260    UCLA  3542500.0

(226.0, 'Utah Jazz')
               Name       Team  Number Position   Age Height  Weight College  \
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0  Butler
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0    None

         Salary
448  15409570.0
450   2050000.0

(227.0, 'Memphis Grizzlies')
               Name               Team  Number Position   Age Height  Weight  \
266  JaMychal Green  Memphis Grizzlies     0.0       PF  25.0    6-9   227.0

     College    Salary
266  Alabama  845059.0

(228.0, 'Dallas Mavericks')
                Name              Team  Number Position   Age Height  Weight  \
227  Justin Anderson  Dallas Mavericks     1.0       SG  22.0    6-6   228.0

      College     Salary
227  Virginia  1449000.0

(228.0, 'Denver Nuggets')
               Name            Team  Number Position   Age Height  Weight  \
387  Kenneth Faried  Denver Nuggets    35.0       PF  26.0    6-8   228.0

            College      Salary
387  Morehead State  11235955.0

(228.0, 'Oklahoma City Thunder')
             Name                   Team  Number Position   Age Height  \
424  Kyle Singler  Oklahoma City Thunder     5.0       SF  28.0    6-8

     Weight College     Salary
424   228.0    Duke  4500000.0

(228.0, 'Philadelphia 76ers')
            Name                Team  Number Position   Age Height  Weight  \
55  Nerlens Noel  Philadelphia 76ers     4.0       PF  22.0   6-11   228.0

     College     Salary
55  Kentucky  3457800.0

(228.0, 'Phoenix Suns')
          Name          Team  Number Position   Age Height  Weight    College  \
129  Jon Leuer  Phoenix Suns    30.0       PF  27.0   6-10   228.0  Wisconsin

        Salary
129  1035000.0

(228.0, 'Sacramento Kings')
             Name              Team  Number Position   Age Height  Weight  \
139  Caron Butler  Sacramento Kings    31.0       SF  36.0    6-7   228.0

         College     Salary
139  Connecticut  1449187.0

(228.0, 'Utah Jazz')
              Name       Team  Number Position   Age Height  Weight  College  \
442  Trevor Booker  Utah Jazz    33.0       PF  28.0    6-8   228.0  Clemson

        Salary
442  4775000.0

(229.0, 'Milwaukee Bucks')

            Name             Team  Number Position   Age Height  Weight  \
216  John Henson  Milwaukee Bucks    31.0       PF  25.0   6-11   229.0

            College     Salary
216  North Carolina  2943221.0

(230.0, 'Chicago Bulls')
              Name           Team  Number Position   Age Height  Weight  \
154  Mike Dunleavy  Chicago Bulls    34.0       SG  35.0    6-9   230.0
163   Bobby Portis  Chicago Bulls     5.0       PF  21.0   6-11   230.0

      College     Salary
154      Duke  4500000.0
163  Arkansas  1391160.0

(230.0, 'Dallas Mavericks')
                 Name              Team  Number Position   Age Height  Weight  \
238  Chandler Parsons  Dallas Mavericks    25.0       SF  27.0   6-10   230.0

     College      Salary
238  Florida  15361500.0

(230.0, 'Golden State Warriors')
              Name                   Team  Number Position   Age Height  \
82  Draymond Green  Golden State Warriors    23.0       PF  26.0    6-7

    Weight         College      Salary
82   230.0  Michigan State  14260870.0

(230.0, 'Houston Rockets')
           Name             Team  Number Position   Age Height  Weight  \
247  Sam Dekker  Houston Rockets     7.0       SF  22.0    6-9   230.0

       College     Salary
247  Wisconsin  1646400.0

(230.0, 'Los Angeles Clippers')
                        Name                  Team  Number Position   Age  \
99  Luc Richard Mbah a Moute  Los Angeles Clippers    12.0       PF  29.0

   Height  Weight College    Salary
99    6-8   230.0    UCLA  947276.0

(230.0, 'Los Angeles Lakers')
                Name                Team  Number Position   Age Height  \
113       Ryan Kelly  Los Angeles Lakers     4.0       PF  25.0   6-11
114  Larry Nance Jr.  Los Angeles Lakers     7.0       PF  23.0    6-9

     Weight  College     Salary
113   230.0     Duke  1724250.0
114   230.0  Wyoming  1155600.0

(230.0, 'Memphis Grizzlies')
                 Name               Team  Number Position   Age Height  \
267     P.J. Hairston  Memphis Grizzlies    19.0       SF  23.0    6-6
272  Lance Stephenson  Memphis Grizzlies     1.0       SF  25.0    6-5

     Weight         College     Salary
267   230.0  North Carolina  1201440.0
272   230.0      Cincinnati  9000000.0

(230.0, 'Minnesota Timberwolves')
             Name                    Team  Number Position   Age Height  \
408  Damjan Rudez  Minnesota Timberwolves    10.0       SF  29.0    6-9

     Weight College     Salary
408   230.0    None  1149500.0

(230.0, 'New Orleans Pelicans')
                 Name                  Team  Number Position   Age Height  \
280  Dante Cunningham  New Orleans Pelicans    44.0       PF  29.0    6-8

     Weight    College     Salary
280   230.0  Villanova  2850000.0

(230.0, 'Oklahoma City Thunder')
             Name                   Team  Number Position   Age Height  \
416  Josh Huestis  Oklahoma City Thunder    34.0       SF  24.0    6-7

     Weight   College     Salary
416   230.0  Stanford  1140240.0

(230.0, 'Phoenix Suns')
            Name          Team  Number Position   Age Height  Weight  \
134  T.J. Warren  Phoenix Suns    12.0       SF  22.0    6-8   230.0

                  College     Salary
134  North Carolina State  2041080.0

(230.0, 'Sacramento Kings')
         Name              Team  Number Position   Age Height  Weight  \
146  Rudy Gay  Sacramento Kings     8.0       SF  29.0    6-8   230.0

         College      Salary
146  Connecticut  12403101.0

(230.0, 'San Antonio Spurs')
              Name               Team  Number Position   Age Height  Weight  \
295  Kyle Anderson  San Antonio Spurs     1.0       SF  22.0    6-9   230.0
301  Kawhi Leonard  San Antonio Spurs     2.0       SF  24.0    6-7   230.0

             College      Salary
295             UCLA   1142880.0
301  San Diego State  16407500.0

(231.0, 'Boston Celtics')
            Name            Team  Number Position   Age Height  Weight  \
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

  College     Salary
4    None  5000000.0

(231.0, 'Indiana Pacers')
           Name            Team  Number Position   Age Height  Weight College  \
205  C.J. Miles  Indiana Pacers     0.0       SF  29.0    6-6   231.0    None

        Salary
205  4394225.0

(231.0, 'Utah Jazz')
            Name       Team  Number Position   Age Height  Weight College  \
456  Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas

       Salary
456  947276.0

(232.0, 'Charlotte Hornets')
                       Name               Team  Number Position   Age Height  \
332  Michael Kidd-Gilchrist  Charlotte Hornets    14.0       SF  22.0    6-7

     Weight   College     Salary
332   232.0  Kentucky  6331404.0

(232.0, 'Chicago Bulls')
            Name           Team  Number Position   Age Height  Weight  \
162  Joakim Noah  Chicago Bulls    13.0        C  31.0   6-11   232.0

     College      Salary
162  Florida  13400000.0

(232.0, 'Dallas Mavericks')
                   Name              Team  Number Position   Age Height  \
240  Charlie Villanueva  Dallas Mavericks     3.0       PF  31.0   6-11

     Weight      College    Salary
240   232.0  Connecticut  947276.0

(233.0, 'Cleveland Cavaliers')
                  Name                 Team  Number Position   Age Height  \
170  Richard Jefferson  Cleveland Cavaliers    24.0       SF  35.0    6-7

     Weight  College    Salary
170   233.0  Arizona  947276.0

(234.0, 'Milwaukee Bucks')
                Name             Team  Number Position   Age Height  Weight  \
219  Khris Middleton  Milwaukee Bucks    22.0       SG  24.0    6-8   234.0

       College      Salary
219  Texas A&M  14700000.0

(234.0, 'Utah Jazz')
           Name       Team  Number Position   Age Height  Weight   College  \
452  Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0  Kentucky

        Salary
452  2239800.0

(235.0, 'Atlanta Hawks')
               Name           Team  Number Position   Age Height  Weight  \
313  Kris Humphries  Atlanta Hawks    43.0       PF  31.0    6-9   235.0

       College     Salary
313  Minnesota  1000000.0

(235.0, 'Boston Celtics')
            Name            Team  Number Position   Age Height  Weight  \
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0

     College     Salary
1  Marquette  6796117.0
6        LSU  1170960.0

(235.0, 'Denver Nuggets')
               Name            Team  Number Position   Age Height  Weight  \
383  Darrell Arthur  Denver Nuggets     0.0       PF  28.0    6-9   235.0

    College     Salary
383  Kansas  2814000.0

(235.0, 'Detroit Pistons')
              Name             Team  Number Position   Age Height  Weight  \
189  Tobias Harris  Detroit Pistons    34.0       SF  23.0    6-9   235.0
194  Marcus Morris  Detroit Pistons    13.0       PF  26.0    6-9   235.0

       College      Salary
189  Tennessee  16000000.0
194     Kansas   5000000.0

(235.0, 'Houston Rockets')
                Name             Team  Number Position   Age Height  Weight  \
243  Michael Beasley  Houston Rockets     8.0       SF  27.0   6-10   235.0

          College    Salary
243  Kansas State  306527.0

(235.0, 'Indiana Pacers')
            Name            Team  Number Position   Age Height  Weight  \
201  Jordan Hill  Indiana Pacers    27.0        C  28.0   6-10   235.0

     College     Salary
201  Arizona  4000000.0

(235.0, 'Los Angeles Clippers')
            Name                  Team  Number Position   Age Height  Weight  \
95    Jeff Green  Los Angeles Clippers     8.0       SF  29.0    6-9   235.0
101  Paul Pierce  Los Angeles Clippers    34.0       SF  38.0    6-7   235.0

        College     Salary
95   Georgetown  9650000.0
101      Kansas  3376000.0

(235.0, 'Miami Heat')
              Name        Team  Number Position   Age Height  Weight  \
339     Chris Bosh  Miami Heat     1.0       PF  32.0   6-11   235.0
343  Udonis Haslem  Miami Heat    40.0       PF  36.0    6-8   235.0

          College      Salary
339  Georgia Tech  22192730.0
343       Florida   2854940.0

(235.0, 'New York Knicks')
            Name             Team  Number Position   Age Height  Weight  \
42  Lance Thomas  New York Knicks    42.0       SF  28.0    6-8   235.0

   College     Salary
42    Duke  1636842.0

(235.0, 'Orlando Magic')
               Name           Team  Number Position   Age Height  Weight  \
358  Ersan Ilyasova  Orlando Magic     7.0       PF  29.0   6-10   235.0

    College     Salary
358    None  7900000.0

(235.0, 'Portland Trail Blazers')
              Name                    Team  Number Position   Age Height  \
439  Mason Plumlee  Portland Trail Blazers    24.0        C  26.0   6-11

     Weight College     Salary
439   235.0    Duke  1415520.0

(235.0, 'San Antonio Spurs')
            Name               Team  Number Position   Age Height  Weight  \
296  Matt Bonner  San Antonio Spurs    15.0        C  36.0   6-10   235.0

     College    Salary
296  Florida  947276.0

(235.0, 'Toronto Raptors')
                 Name             Team  Number Position   Age Height  Weight  \
69  Patrick Patterson  Toronto Raptors    54.0       PF  27.0    6-9   235.0

     College     Salary
69  Kentucky  6268675.0

(237.0, 'Atlanta Hawks')
           Name           Team  Number Position   Age Height  Weight  \
319  Mike Scott  Atlanta Hawks    32.0       PF  27.0    6-8   237.0

      College     Salary
319  Virginia  3333333.0

(237.0, 'Brooklyn Nets')
               Name           Team  Number Position   Age Height  Weight  \
26  Thomas Robinson  Brooklyn Nets    41.0       PF  25.0   6-10   237.0

   College    Salary
26  Kansas  981348.0

(237.0, 'Charlotte Hornets')
                Name               Team  Number Position   Age Height  Weight  \
337  Marvin Williams  Charlotte Hornets     2.0       PF  29.0    6-9   237.0

            College     Salary
337  North Carolina  7000000.0

(237.0, 'Minnesota Timberwolves')
              Name                    Team  Number Position   Age Height  \
404  Adreian Payne  Minnesota Timberwolves    33.0       PF  25.0   6-10

     Weight         College     Salary
404   237.0  Michigan State  1938840.0

(238.0, 'Boston Celtics')
           Name            Team  Number Position   Age Height  Weight  \
7  Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0

   College     Salary
7  Gonzaga  2165160.0

(238.0, 'Cleveland Cavaliers')
                 Name                 Team  Number Position   Age Height  \
179  Tristan Thompson  Cleveland Cavaliers    13.0        C  25.0    6-9

     Weight College      Salary
179   238.0   Texas  14260870.0

(238.0, 'Sacramento Kings')
              Name              Team  Number Position   Age Height  Weight  \
149  Eric Moreland  Sacramento Kings    25.0       PF  24.0   6-10   238.0

          College    Salary
149  Oregon State  845059.0

(239.0, 'Memphis Grizzlies')

              Name               Team  Number Position   Age Height  Weight  \
268  Jarell Martin  Memphis Grizzlies    10.0       PF  22.0   6-10   239.0

    College     Salary
268     LSU  1230840.0

(240.0, 'Atlanta Hawks')
             Name           Team  Number Position   Age Height  Weight  \
316  Mike Muscala  Atlanta Hawks    31.0       PF  24.0   6-11   240.0

      College    Salary
316  Bucknell  947276.0

(240.0, 'Boston Celtics')
           Name            Team  Number Position   Age Height  Weight College  \
5  Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0    None

       Salary
5  12000000.0

(240.0, 'Charlotte Hornets')
                   Name               Team  Number Position   Age Height  \
331  Frank Kaminsky III  Charlotte Hornets    44.0        C  23.0    7-0
338         Cody Zeller  Charlotte Hornets    40.0        C  23.0    7-0

     Weight    College     Salary
331   240.0  Wisconsin  2612520.0
338   240.0    Indiana  4204200.0

(240.0, 'Dallas Mavericks')
              Name              Team  Number Position   Age Height  Weight  \
239  Dwight Powell  Dallas Mavericks     7.0       PF  24.0   6-11   240.0

      College    Salary
239  Stanford  845059.0

(240.0, 'Detroit Pistons')
                 Name             Team  Number Position   Age Height  Weight  \
195  Anthony Tolliver  Detroit Pistons    43.0       PF  31.0    6-8   240.0

       College     Salary
195  Creighton  3000000.0

(240.0, 'Golden State Warriors')
                    Name                   Team  Number Position   Age Height  \
86  James Michael McAdoo  Golden State Warriors    20.0       SF  23.0    6-9

    Weight         College    Salary
86   240.0  North Carolina  845059.0

(240.0, 'Houston Rockets')
                 Name             Team  Number Position   Age Height  Weight  \
246      Clint Capela  Houston Rockets    15.0       PF  22.0   6-10   240.0
250  Montrezl Harrell  Houston Rockets    35.0       PF  22.0    6-8   240.0

        College     Salary
246        None  1242720.0
250  Louisville  1000000.0

(240.0, 'Miami Heat')
               Name        Team  Number Position   Age Height  Weight  \
344     Joe Johnson  Miami Heat     2.0       SF  34.0    6-7   240.0
346  Josh McRoberts  Miami Heat     4.0       PF  29.0   6-10   240.0

      College     Salary
344  Arkansas   261894.0
346      Duke  5543725.0

(240.0, 'Minnesota Timberwolves')
                Name                    Team  Number Position   Age Height  \
398  Nemanja Bjelica  Minnesota Timberwolves    88.0       PF  28.0   6-10
400    Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0   6-11

     Weight College     Salary
398   240.0    None  3950001.0
400   240.0    None  8500000.0

(240.0, 'New Orleans Pelicans')
              Name                  Team  Number Position   Age Height  \
276  Ryan Anderson  New Orleans Pelicans    33.0       PF  28.0   6-10

     Weight     College     Salary
276   240.0  California  8500000.0

(240.0, 'New York Knicks')
                  Name             Team  Number Position   Age Height  Weight  \
33     Carmelo Anthony  New York Knicks     7.0       SF  32.0    6-8   240.0
40  Kristaps Porzingis  New York Knicks     6.0       PF  20.0    7-3   240.0
44    Derrick Williams  New York Knicks    23.0       PF  25.0    6-8   240.0

     College      Salary
33  Syracuse  22875000.0
40      None   4131720.0
44   Arizona   4000000.0

(240.0, 'Oklahoma City Thunder')
             Name                   Team  Number Position   Age Height  \
414  Kevin Durant  Oklahoma City Thunder    35.0       SF  27.0    6-9

     Weight College      Salary
414   240.0   Texas  20158622.0

(240.0, 'Orlando Magic')
            Name           Team  Number Position   Age Height  Weight  \
365  Jason Smith  Orlando Magic    14.0       PF  30.0    7-0   240.0

            College     Salary
365  Colorado State  4300000.0

(240.0, 'Phoenix Suns')
               Name          Team  Number Position   Age Height  Weight  \
124  Tyson Chandler  Phoenix Suns     4.0        C  33.0    7-1   240.0

    College      Salary
124    None  13000000.0

(240.0, 'Portland Trail Blazers')
                Name                    Team  Number Position   Age Height  \
427  Cliff Alexander  Portland Trail Blazers    34.0       PF  20.0    6-8
431         Ed Davis  Portland Trail Blazers    17.0        C  27.0   6-10
441      Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0    6-9

     Weight         College     Salary
427   240.0          Kansas   525093.0
431   240.0  North Carolina  6980802.0
441   240.0         Indiana  2637720.0

(240.0, 'Sacramento Kings')
                    Name              Team  Number Position   Age Height  \
136           Quincy Acy  Sacramento Kings    13.0       SF  25.0    6-7
141  Willie Cauley-Stein  Sacramento Kings     0.0        C  22.0    7-0

     Weight   College     Salary
136   240.0    Baylor   981348.0
141   240.0  Kentucky  3398280.0

(240.0, 'San Antonio Spurs')
                  Name               Team  Number Position   Age Height  \
294  LaMarcus Aldridge  San Antonio Spurs    12.0       PF  30.0   6-11

     Weight College      Salary
294   240.0   Texas  19689000.0

(240.0, 'Toronto Raptors')
          Name             Team  Number Position   Age Height  Weight College  \
72  Luis Scola  Toronto Raptors     4.0       PF  36.0    6-9   240.0    None

       Salary
72  2900000.0

(240.0, 'Washington Wizards')
              Name                Team  Number Position   Age Height  Weight  \
373  Marcin Gortat  Washington Wizards    13.0        C  32.0   6-11   240.0

    College      Salary
373    None  11217391.0

(241.0, 'Minnesota Timberwolves')
             Name                    Team  Number Position   Age Height  \
399  Gorgui Dieng  Minnesota Timberwolves     5.0        C  26.0   6-11

     Weight     College     Salary
399   241.0  Louisville  1474440.0

(242.0, 'Phoenix Suns')
                Name          Team  Number Position   Age Height  Weight  \
132  Mirza Teletovic  Phoenix Suns    35.0       PF  30.0    6-9   242.0

    College     Salary
132    None  5500000.0

(242.0, 'Washington Wizards')
           Name                Team  Number Position   Age Height  Weight  \
374  JJ Hickson  Washington Wizards    21.0        C  27.0    6-9   242.0

                  College    Salary
374  North Carolina State  273038.0

(243.0, 'Indiana Pacers')
             Name            Team  Number Position   Age Height  Weight  \
208  Myles Turner  Indiana Pacers    33.0       PF  20.0   6-11   243.0

    College     Salary
208   Texas  2357760.0

(244.0, 'Minnesota Timberwolves')
                   Name                    Team  Number Position   Age Height  \
410  Karl-Anthony Towns  Minnesota Timberwolves    32.0        C  20.0    7-0

     Weight   College     Salary
410   244.0  Kentucky  5703600.0

(245.0, 'Atlanta Hawks')
               Name           Team  Number Position   Age Height  Weight  \
312      Al Horford  Atlanta Hawks    15.0        C  30.0   6-10   245.0
321  Tiago Splitter  Atlanta Hawks    11.0        C  31.0   6-11   245.0

     College      Salary
312  Florida  12000000.0
321     None   9756250.0

(245.0, 'Charlotte Hornets')
              Name               Team  Number Position   Age Height  Weight  \
329  Spencer Hawes  Charlotte Hornets     0.0       PF  28.0    7-1   245.0

        College     Salary
329  Washington  6110034.0

(245.0, 'Dallas Mavericks')
              Name              Team  Number Position   Age Height  Weight  \
232      David Lee  Dallas Mavericks    42.0       PF  33.0    6-9   245.0
235    Salah Mejri  Dallas Mavericks    50.0        C  29.0    7-2   245.0
236  Dirk Nowitzki  Dallas Mavericks    41.0       PF  37.0    7-0   245.0

     College     Salary
232  Florida  2085671.0
235     None   525093.0
236     None  8333334.0

(245.0, 'Detroit Pistons')
                Name             Team  Number Position   Age Height  Weight  \
181     Joel Anthony  Detroit Pistons    50.0        C  33.0    6-9   245.0
192  Stanley Johnson  Detroit Pistons     3.0       SF  20.0    6-7   245.0

     College     Salary
181     UNLV  2500000.0
192  Arizona  2841960.0

(245.0, 'Memphis Grizzlies')
               Name               Team  Number Position   Age Height  Weight  \
259  Chris Andersen  Memphis Grizzlies     7.0       PF  37.0   6-10   245.0

           College     Salary
259  Blinn College  5000000.0

(245.0, 'Miami Heat')
                  Name        Team  Number Position   Age Height  Weight  \
348  Amar'e Stoudemire  Miami Heat     5.0       PF  33.0   6-10   245.0

    College    Salary
348    None  947276.0

(245.0, 'Oklahoma City Thunder')
            Name                   Team  Number Position   Age Height  Weight  \
417  Serge Ibaka  Oklahoma City Thunder     9.0       PF  26.0   6-10   245.0
418  Enes Kanter  Oklahoma City Thunder    11.0        C  24.0   6-11   245.0

      College      Salary
417      None  12250000.0
418  Kentucky  16407500.0

(245.0, 'Orlando Magic')
               Name           Team  Number Position   Age Height  Weight  \
354  Dewayne Dedmon  Orlando Magic     3.0        C  26.0    7-0   245.0

    College    Salary
354     USC  947276.0

(245.0, 'Philadelphia 76ers')
              Name                Team  Number Position   Age Height  Weight  \
51  Richaun Holmes  Philadelphia 76ers    22.0       PF  22.0   6-10   245.0

          College     Salary
51  Bowling Green  1074169.0

(245.0, 'Phoenix Suns')
            Name          Team  Number Position   Age Height  Weight College  \
133  P.J. Tucker  Phoenix Suns    17.0       SF  31.0    6-6   245.0   Texas

        Salary
133  5500000.0

(245.0, 'Portland Trail Blazers')
               Name                    Team  Number Position   Age Height  \
435  Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0    7-1

     Weight   College     Salary
435   245.0  Illinois  3075880.0

(245.0, 'Toronto Raptors')
               Name             Team  Number Position   Age Height  Weight  \
61  Bismack Biyombo  Toronto Raptors     8.0        C  23.0    6-9   245.0

   College     Salary
61    None  2814000.0

(245.0, 'Utah Jazz')
            Name       Team  Number Position   Age Height  Weight College  \
447  Rudy Gobert  Utah Jazz    27.0        C  23.0    7-1   245.0    None

        Salary
447  1175880.0

(245.0, 'Washington Wizards')
                Name                Team  Number Position   Age Height  \
376  Markieff Morris  Washington Wizards     5.0       PF  26.0   6-10

     Weight College     Salary
376   245.0  Kansas  8000000.0

(246.0, 'Atlanta Hawks')
             Name           Team  Number Position   Age Height  Weight  \
315  Paul Millsap  Atlanta Hawks     4.0       PF  31.0    6-8   246.0

            College      Salary
315  Louisiana Tech  18671659.0

(246.0, 'Milwaukee Bucks')
              Name             Team  Number Position   Age Height  Weight  \
217  Damien Inglis  Milwaukee Bucks    17.0       SF  21.0    6-8   246.0

    College    Salary
217    None  855000.0

(248.0, 'Brooklyn Nets')
          Name           Team  Number Position   Age Height  Weight  \
27  Henry Sims  Brooklyn Nets    14.0        C  26.0   6-10   248.0

       College    Salary
27  Georgetown  947276.0

(248.0, 'New Orleans Pelicans')
              Name                  Team  Number Position   Age Height  \
275  Alexis Ajinca  New Orleans Pelicans    42.0        C  28.0    7-2

     Weight College     Salary
275   248.0    None  4389607.0

(248.0, 'Philadelphia 76ers')
           Name                Team  Number Position   Age Height  Weight  \
52  Carl Landry  Philadelphia 76ers     7.0       PF  32.0    6-9   248.0

   College     Salary
52  Purdue  6500000.0

(249.0, 'Milwaukee Bucks')
              Name             Team  Number Position   Age Height  Weight  \
224  Miles Plumlee  Milwaukee Bucks    18.0        C  27.0   6-11   249.0

    College     Salary
224    Duke  2109294.0

(250.0, 'Charlotte Hornets')
                 Name               Team  Number Position   Age Height  \
327  Tyler Hansbrough  Charlotte Hornets    50.0       PF  30.0    6-9

     Weight         College    Salary
327   250.0  North Carolina  947276.0

(250.0, 'Chicago Bulls')
                 Name           Team  Number Position   Age Height  Weight  \
151  Cameron Bairstow  Chicago Bulls    41.0       PF  25.0    6-9   250.0
156         Pau Gasol  Chicago Bulls    16.0        C  35.0    7-0   250.0

        College     Salary
151  New Mexico   845059.0
156        None  7448760.0

(250.0, 'Cleveland Cavaliers')
             Name                 Team  Number Position   Age Height  Weight  \
169  LeBron James  Cleveland Cavaliers    23.0       SF  31.0    6-8   250.0

    College      Salary
169    None  22970500.0

(250.0, 'Denver Nuggets')
             Name            Team  Number Position   Age Height  Weight  \
390  Nikola Jokic  Denver Nuggets    15.0        C  21.0   6-10   250.0

    College     Salary
390    None  1300000.0

(250.0, 'Indiana Pacers')
                   Name            Team  Number Position   Age Height  Weight  \
197    Rakeem Christmas  Indiana Pacers    25.0       PF  24.0    6-9   250.0
204         Ian Mahinmi  Indiana Pacers    28.0        C  29.0   6-11   250.0
209  Shayne Whittington  Indiana Pacers    42.0       PF  25.0   6-11   250.0

              College     Salary
197          Syracuse  1007026.0
204              None  4000000.0
209  Western Michigan   845059.0

(250.0, 'Los Angeles Clippers')
            Name                  Team  Number Position   Age Height  Weight  \
91  Cole Aldrich  Los Angeles Clippers    45.0        C  27.0   6-11   250.0
92    Jeff Ayres  Los Angeles Clippers    19.0       PF  29.0    6-9   250.0

          College     Salary
91         Kansas  1100602.0
92  Arizona State   111444.0

(250.0, 'Los Angeles Lakers')
              Name                Team  Number Position   Age Height  Weight  \
106   Brandon Bass  Los Angeles Lakers     2.0       PF  31.0    6-8   250.0
107    Tarik Black  Los Angeles Lakers    28.0        C  24.0    6-9   250.0
115  Julius Randle  Los Angeles Lakers    30.0       PF  21.0    6-9   250.0

      College     Salary
106       LSU  3000000.0
107    Kansas   845059.0
115  Kentucky  3132240.0

(250.0, 'Milwaukee Bucks')

              Name             Team  Number Position   Age Height  Weight  \
223  Jabari Parker  Milwaukee Bucks    12.0       PF  21.0    6-8   250.0

    College     Salary
223    Duke  5152440.0

(250.0, 'Minnesota Timberwolves')
           Name                    Team  Number Position   Age Height  Weight  \
409  Greg Smith  Minnesota Timberwolves     4.0       PF  25.0   6-10   250.0

          College Salary
409  Fresno State   None

(250.0, 'New York Knicks')
            Name             Team  Number Position   Age Height  Weight  \
39  Kyle O'Quinn  New York Knicks     9.0       PF  26.0   6-10   250.0

          College     Salary
39  Norfolk State  3750000.0

(250.0, 'Oklahoma City Thunder')
              Name                   Team  Number Position   Age Height  \
420  Nazr Mohammed  Oklahoma City Thunder    13.0        C  38.0   6-10

     Weight   College    Salary
420   250.0  Kentucky  222888.0

(250.0, 'Orlando Magic')
                 Name           Team  Number Position   Age Height  Weight  \
362  Andrew Nicholson  Orlando Magic    44.0       PF  26.0    6-9   250.0

             College     Salary
362  St. Bonaventure  2380593.0

(250.0, 'Philadelphia 76ers')
           Name                Team  Number Position   Age Height  Weight  \
49  Joel Embiid  Philadelphia 76ers    21.0        C  22.0    7-0   250.0

   College     Salary
49  Kansas  4626960.0

(250.0, 'San Antonio Spurs')
           Name               Team  Number Position   Age Height  Weight  \
297  Boris Diaw  San Antonio Spurs    33.0        C  34.0    6-8   250.0
298  Tim Duncan  San Antonio Spurs    21.0        C  40.0   6-11   250.0
308  David West  San Antonio Spurs    30.0       PF  35.0    6-9   250.0

         College     Salary
297         None  7500000.0
298  Wake Forest  5250000.0
308       Xavier  1499187.0

(250.0, 'Toronto Raptors')
              Name             Team  Number Position   Age Height  Weight  \
65   James Johnson  Toronto Raptors     3.0       PF  29.0    6-9   250.0
73  Jason Thompson  Toronto Raptors     1.0       PF  29.0   6-11   250.0

        College     Salary
65  Wake Forest  2500000.0
73        Rider   245177.0

(250.0, 'Washington Wizards')
             Name                Team  Number Position   Age Height  Weight  \
372   Drew Gooden  Washington Wizards    90.0       PF  34.0   6-10   250.0
375  Nene Hilario  Washington Wizards    42.0        C  33.0   6-11   250.0

    College      Salary
372  Kansas   3300000.0
375    None  13000000.0

(251.0, 'Cleveland Cavaliers')
           Name                 Team  Number Position   Age Height  Weight  \
174  Kevin Love  Cleveland Cavaliers     0.0       PF  27.0   6-10   251.0

    College      Salary
174    UCLA  19689000.0

(251.0, 'Los Angeles Clippers')
             Name                  Team  Number Position   Age Height  Weight  \
96  Blake Griffin  Los Angeles Clippers    32.0       PF  27.0   6-10   251.0

     College      Salary
96  Oklahoma  18907726.0

(252.0, 'Houston Rockets')
               Name             Team  Number Position   Age Height  Weight  \
252  Terrence Jones  Houston Rockets     6.0       PF  24.0    6-9   252.0

      College     Salary
252  Kentucky  2489530.0

(253.0, 'Boston Celtics')
            Name            Team  Number Position   Age Height  Weight  \
14  Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

           College     Salary
14  North Carolina  2616975.0

(253.0, 'New Orleans Pelicans')
              Name                  Team  Number Position   Age Height  \
281  Anthony Davis  New Orleans Pelicans    23.0       PF  23.0   6-10

     Weight   College     Salary
281   253.0  Kentucky  7070730.0

(254.0, 'Philadelphia 76ers')
           Name                Team  Number Position   Age Height  Weight  \
46  Elton Brand  Philadelphia 76ers    42.0       PF  37.0    6-9   254.0

   College Salary
46    Duke   None

(255.0, 'Cleveland Cavaliers')
              Name                 Team  Number Position   Age Height  Weight  \
167  Channing Frye  Cleveland Cavaliers     9.0       PF  33.0   6-11   255.0

     College     Salary
167  Arizona  8193029.0

(255.0, 'Golden State Warriors')
                 Name                   Team  Number Position   Age Height  \
88  Marreese Speights  Golden State Warriors     5.0        C  28.0   6-10

    Weight  College     Salary
88   255.0  Florida  3815000.0

(255.0, 'Indiana Pacers')
            Name            Team  Number Position   Age Height  Weight  \
196  Lavoy Allen  Indiana Pacers     5.0       PF  27.0    6-9   255.0

    College     Salary
196  Temple  4050000.0

(255.0, 'Memphis Grizzlies')
           Name               Team  Number Position   Age Height  Weight  \
265  Marc Gasol  Memphis Grizzlies    33.0        C  31.0    7-1   255.0

    College      Salary
265    None  19688000.0

(255.0, 'New Orleans Pelicans')
          Name                  Team  Number Position   Age Height  Weight  \
277  Omer Asik  New Orleans Pelicans     3.0        C  29.0    7-0   255.0

    College     Salary
277    None  9213483.0

(255.0, 'New York Knicks')
           Name             Team  Number Position   Age Height  Weight  \
38  Robin Lopez  New York Knicks     8.0        C  28.0    7-0   255.0

     College      Salary
38  Stanford  12650000.0

(255.0, 'Oklahoma City Thunder')
              Name                   Team  Number Position   Age Height  \
412   Steven Adams  Oklahoma City Thunder    12.0        C  22.0    7-0
413  Nick Collison  Oklahoma City Thunder     4.0       PF  35.0   6-10
419   Mitch McGary  Oklahoma City Thunder    33.0       PF  24.0   6-10

     Weight     College     Salary
412   255.0  Pittsburgh  2279040.0
413   255.0      Kansas  3750000.0
419   255.0    Michigan  1463040.0

(255.0, 'Toronto Raptors')
                 Name             Team  Number Position   Age Height  Weight  \
74  Jonas Valanciunas  Toronto Raptors    17.0        C  24.0    7-0   255.0

   College     Salary
74    None  4660482.0

(256.0, 'Utah Jazz')
             Name       Team  Number Position   Age Height  Weight College  \
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0    None

        Salary
455  2900000.0

(257.0, 'Milwaukee Bucks')
                    Name             Team  Number Position   Age Height  \
222  Johnny O'Bryant III  Milwaukee Bucks    77.0       PF  23.0    6-9

     Weight College    Salary
222   257.0     LSU  845059.0

(260.0, 'Atlanta Hawks')
               Name           Team  Number Position   Age Height  Weight  \
322  Walter Tavares  Atlanta Hawks    22.0        C  24.0    7-3   260.0

    College     Salary
322    None  1000000.0

(260.0, 'Boston Celtics')
               Name            Team  Number Position   Age Height  Weight  \
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0

       College     Salary
10  Ohio State  2569260.0

(260.0, 'Cleveland Cavaliers')
           Name                 Team  Number Position   Age Height  Weight  \
173  Sasha Kaun  Cleveland Cavaliers    14.0        C  31.0   6-11   260.0

    College     Salary
173  Kansas  1276000.0

(260.0, 'Detroit Pistons')
            Name             Team  Number Position   Age Height  Weight  \
182  Aron Baynes  Detroit Pistons    12.0        C  29.0   6-10   260.0

              College     Salary
182  Washington State  6500000.0

(260.0, 'Golden State Warriors')
            Name                   Team  Number Position   Age Height  Weight  \
78  Andrew Bogut  Golden State Warriors    12.0        C  31.0    7-0   260.0

   College      Salary
78    Utah  13800000.0

(260.0, 'Los Angeles Lakers')
                  Name                Team  Number Position   Age Height  \
119  Metta World Peace  Los Angeles Lakers    37.0       SF  36.0    6-7

     Weight     College    Salary
119   260.0  St. John's  947276.0

(260.0, 'Memphis Grizzlies')
              Name               Team  Number Position   Age Height  Weight  \
271  Zach Randolph  Memphis Grizzlies    50.0       PF  34.0    6-9   260.0

            College     Salary
271  Michigan State  9638555.0

(260.0, 'Orlando Magic')
               Name           Team  Number Position   Age Height  Weight  \
366  Nikola Vucevic  Orlando Magic     9.0        C  25.0    7-0   260.0

    College      Salary
366     USC  11250000.0

(260.0, 'Phoenix Suns')
              Name          Team  Number Position   Age Height  Weight  \
128       Alex Len  Phoenix Suns    21.0        C  22.0    7-1   260.0
135  Alan Williams  Phoenix Suns    15.0        C  23.0    6-8   260.0

              College     Salary
128          Maryland  3807120.0
135  UC Santa Barbara    83397.0

(265.0, 'Golden State Warriors')
            Name                   Team  Number Position   Age Height  Weight  \
81  Festus Ezeli  Golden State Warriors    31.0        C  26.0   6-11   265.0

       College     Salary
81  Vanderbilt  2008748.0

(265.0, 'Houston Rockets')
              Name             Team  Number Position   Age Height  Weight  \
251  Dwight Howard  Houston Rockets    12.0        C  30.0   6-11   265.0

    College      Salary
251    None  22359364.0

(265.0, 'Los Angeles Clippers')

              Name                  Team  Number Position   Age Height  \
98  DeAndre Jordan  Los Angeles Clippers     6.0        C  27.0   6-11

    Weight    College      Salary
98   265.0  Texas A&M  19689000.0

(265.0, 'Miami Heat')
                 Name        Team  Number Position   Age Height  Weight  \
351  Hassan Whiteside  Miami Heat    21.0        C  26.0    7-0   265.0

      College    Salary
351  Marshall  981348.0

(265.0, 'Milwaukee Bucks')
            Name             Team  Number Position   Age Height  Weight  \
220  Greg Monroe  Milwaukee Bucks    15.0        C  26.0   6-11   265.0

        College      Salary
220  Georgetown  16407500.0

(265.0, 'Portland Trail Blazers')
            Name                    Team  Number Position   Age Height  \
434  Chris Kaman  Portland Trail Blazers    35.0        C  34.0    7-0

     Weight           College     Salary
434   265.0  Central Michigan  5016000.0

(265.0, 'Sacramento Kings')
             Name              Team  Number Position   Age Height  Weight  \
147  Kosta Koufos  Sacramento Kings    41.0        C  27.0    7-0   265.0

        College     Salary
147  Ohio State  7700000.0

(265.0, 'Utah Jazz')
               Name       Team  Number Position   Age Height  Weight  \
446  Derrick Favors  Utah Jazz    15.0       PF  24.0   6-10   265.0

          College      Salary
446  Georgia Tech  12000000.0

(270.0, 'Dallas Mavericks')
             Name              Team  Number Position   Age Height  Weight  \
234  JaVale McGee  Dallas Mavericks    11.0        C  28.0    7-0   270.0

    College     Salary
234  Nevada  1270964.0

(270.0, 'Los Angeles Lakers')
             Name                Team  Number Position   Age Height  Weight  \
111   Roy Hibbert  Los Angeles Lakers    17.0        C  29.0    7-2   270.0
117  Robert Sacre  Los Angeles Lakers    50.0        C  27.0    7-0   270.0

        College      Salary
111  Georgetown  15592217.0
117     Gonzaga    981348.0

(270.0, 'Memphis Grizzlies')
               Name               Team  Number Position   Age Height  Weight  \
273  Alex Stepheson  Memphis Grizzlies    35.0       PF  28.0   6-10   270.0

    College Salary
273     USC   None

(270.0, 'New Orleans Pelicans')
                 Name                  Team  Number Position   Age Height  \
292  Kendrick Perkins  New Orleans Pelicans     5.0        C  31.0   6-10

     Weight College    Salary
292   270.0    None  947276.0

(270.0, 'Sacramento Kings')
                 Name              Team  Number Position   Age Height  Weight  \
143  DeMarcus Cousins  Sacramento Kings    15.0        C  25.0   6-11   270.0

      College      Salary
143  Kentucky  15851950.0

(273.0, 'Golden State Warriors')
                Name                   Team  Number Position   Age Height  \
90  Anderson Varejao  Golden State Warriors    18.0       PF  33.0   6-11

    Weight College    Salary
90   273.0    None  289755.0

(275.0, 'Brooklyn Nets')
           Name           Team  Number Position   Age Height  Weight  \
23  Brook Lopez  Brooklyn Nets    11.0        C  28.0    7-0   275.0

     College      Salary
23  Stanford  19689000.0

(275.0, 'Chicago Bulls')
                  Name           Team  Number Position   Age Height  Weight  \
155  Cristiano Felicio  Chicago Bulls     6.0       PF  23.0   6-10   275.0

    College    Salary
155    None  525093.0

(275.0, 'Cleveland Cavaliers')
               Name                 Team  Number Position   Age Height  \
176  Timofey Mozgov  Cleveland Cavaliers    20.0        C  29.0    7-1

     Weight College     Salary
176   275.0    None  4950000.0

(275.0, 'Dallas Mavericks')
              Name              Team  Number Position   Age Height  Weight  \
237  Zaza Pachulia  Dallas Mavericks    27.0        C  32.0   6-11   275.0

    College     Salary
237    None  5200000.0

(275.0, 'Philadelphia 76ers')
             Name                Team  Number Position   Age Height  Weight  \
56  Jahlil Okafor  Philadelphia 76ers     8.0        C  20.0   6-11   275.0

   College     Salary
56    Duke  4582680.0

(278.0, 'New York Knicks')
              Name             Team  Number Position   Age Height  Weight  \
41  Kevin Seraphin  New York Knicks     1.0        C  26.0   6-10   278.0

   College     Salary
41    None  2814000.0

(279.0, 'Detroit Pistons')
               Name             Team  Number Position   Age Height  Weight  \
188  Andre Drummond  Detroit Pistons     0.0        C  22.0   6-11   279.0

         College     Salary
188  Connecticut  3272091.0

(280.0, 'Denver Nuggets')
             Name            Team  Number Position   Age Height  Weight  \
395  Jusuf Nurkic  Denver Nuggets    23.0        C  21.0    7-0   280.0

    College     Salary
395    None  1842000.0

(289.0, 'Charlotte Hornets')
             Name               Team  Number Position   Age Height  Weight  \
330  Al Jefferson  Charlotte Hornets    25.0        C  31.0   6-10   289.0

    College      Salary
330    None  13500000.0

(290.0, 'San Antonio Spurs')
                 Name               Team  Number Position   Age Height  \
302  Boban Marjanovic  San Antonio Spurs    40.0        C  27.0    7-3

     Weight College     Salary
302   290.0    None  1200000.0

(307.0, 'Minnesota Timberwolves')
               Name                    Team  Number Position   Age Height  \
405  Nikola Pekovic  Minnesota Timberwolves    14.0        C  30.0   6-11

     Weight College      Salary
405   307.0    None  12100000.0

In [44]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [49]:
df['college_year']='2nd Year'
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,2nd Year
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,2nd Year
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,2nd Year
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year

In [53]:
df.drop('college_year',axis=1,inplace=True)

In [54]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [55]:
df['Age'].max()

40.0

In [56]:
df['Age'].min()

19.0

In [57]:
def clg(title):
    if title>=19 and title<25:
        return "1st Year"
    elif title>=25 and title<30:
        return "2nd Year"
    elif title>=30 and title<35:
        return "3rd Year"
    else:
        return "4th Year"

In [58]:
df['college_year']= df["Age"].apply(clg)

In [59]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year

In [63]:
df.map({
    '2nd':'2st'
})

AttributeError: 'DataFrame' object has no attribute 'map'

In [64]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year

In [65]:
s = pd.Series(['fox', 'cow', 'dog','cowlf'])
s.map({'fox': 'cub', 'cow': 'calf'})

0     cub
1    calf
2     NaN
dtype: object

In [67]:
s.replace(to_replace='cow',value='kow')

0    fox
1    kow
2    dog
dtype: object

In [70]:
df['458']='Jod'

In [80]:
df.drop('458',axis=1,inplace=True)

KeyError: "['458'] not found in axis"

In [78]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year,458
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year,Jod
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year,Jod
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year,Jod
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year,Jod
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year,Jod
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year,Jod
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year,Jod
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year,Jod
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year,Jod
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year,Jod

In [79]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year,458
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year,Jod
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year,Jod
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year,Jod
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year,Jod
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year,Jod
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year,Jod
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year,Jod
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year,Jod
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year,Jod
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year,Jod

In [81]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year,458
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year,Jod
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year,Jod
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year,Jod
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year,Jod
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year,Jod
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year,Jod
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year,Jod
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year,Jod
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year,Jod
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year,Jod

In [82]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year,458
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year,Jod
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year,Jod
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year,Jod
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year,Jod
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year,Jod
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year,Jod
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year,Jod
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year,Jod
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year,Jod
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year,Jod

In [83]:
df.drop('458',axis=1)

KeyError: "['458'] not found in axis"

In [84]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year,458
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year,Jod
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year,Jod
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year,Jod
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year,Jod
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year,Jod
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year,Jod
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year,Jod
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year,Jod
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year,Jod
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year,Jod

In [87]:
df.replace(to_replace='458',value='Col')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year,458
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year,Jod
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year,Jod
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year,Jod
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year,Jod
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year,Jod
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year,Jod
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year,Jod
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year,Jod
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year,Jod
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year,Jod

In [86]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year,458
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year,Jod
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year,Jod
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year,Jod
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year,Jod
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0,2nd Year,Jod
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,1st Year,Jod
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2nd Year,Jod
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,None,900000.0,1st Year,Jod
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,None,2900000.0,2nd Year,Jod
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,2nd Year,Jod

In [88]:
df.isnull().sum()

Name            0
Team            0
Number          0
Position        0
Age             0
Height          0
Weight          0
College         0
Salary          0
college_year    0
458             0
dtype: int64

In [94]:
df.drop(458,axis=1,inplace=True)

In [95]:
df4=df.head(4)

In [96]:
df4

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,college_year
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2nd Year
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,2nd Year
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,None,2nd Year
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1st Year

In [97]:
m={
    '2nd Year':25,
    '1st Year':22
}
df4.map(m)

AttributeError: 'DataFrame' object has no attribute 'map'

In [98]:
df5=pd.Series(df4)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.groupby(['College'])['Team'].describe()

                 count unique                   top freq
College
Alabama              3      3   Cleveland Cavaliers    1
Arizona             13     11   Cleveland Cavaliers    2
Arizona State        2      2  Los Angeles Clippers    1
Arkansas             3      3         Chicago Bulls    1
Baylor               1      1      Sacramento Kings    1
...                ...    ...                   ...  ...
Western Michigan     1      1        Indiana Pacers    1
Wichita State        1      1       New York Knicks    1
Wisconsin            5      5          Phoenix Suns    1
Wyoming              1      1    Los Angeles Lakers    1
Xavier               1      1     San Antonio Spurs    1

[118 rows x 4 columns]

In [8]:
df[df.isnull()]

    Name Team  Number Position  Age Height  Weight College  Salary
0    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
1    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
2    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
3    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
4    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
..   ...  ...     ...      ...  ...    ...     ...     ...     ...
453  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
454  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
455  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
456  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
457  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN

[458 rows x 9 columns]

In [9]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df[df['Salary'].isnull()]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
46,Elton Brand,Philadelphia 76ers,42.0,PF,37.0,6-9,254.0,Duke,NaN
171,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,NaN
264,Jordan Farmar,Memphis Grizzlies,4.0,PG,29.0,6-2,180.0,UCLA,NaN
269,Ray McCallum,Memphis Grizzlies,5.0,PG,24.0,6-3,190.0,Detroit,NaN
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
273,Alex Stepheson,Memphis Grizzlies,35.0,PF,28.0,6-10,270.0,USC,NaN
350,Briante Weber,Miami Heat,12.0,PG,23.0,6-2,165.0,Virginia Commonwealth,NaN
353,Dorell Wright,Miami Heat,11.0,SF,30.0,6-9,205.0,NaN,NaN
397,Axel Toupane,Denver Nuggets,6.0,SG,23.0,6-7,210.0,NaN,NaN
409,Greg Smith,Minnesota Timberwolves,4.0,PF,25.0,6-10,250.0,Fresno State,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.isnull()

      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0    False  False   False     False  False   False   False    False   False
1    False  False   False     False  False   False   False    False   False
2    False  False   False     False  False   False   False    False    True
3    False  False   False     False  False   False   False    False   False
4    False  False   False     False  False   False   False     True   False
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False
457   True   True    True      True   True    True    True     True    True

[458 rows x 9 columns]

In [13]:
df[df.isnull()]

    Name Team  Number Position  Age Height  Weight College  Salary
0    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
1    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
2    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
3    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
4    NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
..   ...  ...     ...      ...  ...    ...     ...     ...     ...
453  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
454  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
455  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
456  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
457  NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN

[458 rows x 9 columns]

In [14]:
df6=df.groupby(['College'])['Team']

In [16]:
for x,y in df6:
    print(x)
    print(y)
    print()

Alabama
180     Cleveland Cavaliers
266       Memphis Grizzlies
287    New Orleans Pelicans
Name: Team, dtype: object

Arizona
18             Brooklyn Nets
44           New York Knicks
54        Philadelphia 76ers
83     Golden State Warriors
123             Phoenix Suns
167      Cleveland Cavaliers
170      Cleveland Cavaliers
192          Detroit Pistons
201           Indiana Pacers
202           Indiana Pacers
212          Milwaukee Bucks
256          Houston Rockets
356            Orlando Magic
Name: Team, dtype: object

Arizona State
92     Los Angeles Clippers
249         Houston Rockets
Name: Team, dtype: object

Arkansas
163      Chicago Bulls
244    Houston Rockets
344         Miami Heat
Name: Team, dtype: object

Baylor
136    Sacramento Kings
Name: Team, dtype: object

Belmont
79    Golden State Warriors
Name: Team, dtype: object

Blinn College
259    Memphis Grizzlies
Name: Team, dtype: object

Boston College
191       Detroit Pistons
370    Washington Wizards
Name: Team, dtype: object

Boston University
2    Boston Celtics
Name: Team, dtype: object

Bowling Green
51    Philadelphia 76ers
Name: Team, dtype: object

Bucknell
316    Atlanta Hawks
Name: Team, dtype: object

Butler
448    Utah Jazz
453    Utah Jazz
Name: Team, dtype: object

California
276      New Orleans Pelicans
326         Charlotte Hornets
430    Portland Trail Blazers
Name: Team, dtype: object

Central Michigan
434    Portland Trail Blazers
Name: Team, dtype: object

Charleston
248    Houston Rockets
Name: Team, dtype: object

Cincinnati
21         Brooklyn Nets
272    Memphis Grizzlies
Name: Team, dtype: object

Clemson
253    Houston Rockets
442          Utah Jazz
Name: Team, dtype: object

Cleveland State
279    New Orleans Pelicans
Name: Team, dtype: object

Colorado
187          Detroit Pistons
423    Oklahoma City Thunder
444                Utah Jazz
Name: Team, dtype: object

Colorado State
365    Orlando Magic
Name: Team, dtype: object

Connecticut
139     Sacramento Kings
146     Sacramento Kings
188      Detroit Pistons
240     Dallas Mavericks
333    Charlotte Hornets
336    Charlotte Hornets
361        Orlando Magic
Name: Team, dtype: object

Creighton
159      Chicago Bulls
195    Detroit Pistons
314      Atlanta Hawks
Name: Team, dtype: object

Davidson
80    Golden State Warriors
Name: Team, dtype: object

Dayton
440    Portland Trail Blazers
451                 Utah Jazz
Name: Team, dtype: object

DePaul
386    Denver Nuggets
Name: Team, dtype: object

Detroit
269    Memphis Grizzlies
Name: Team, dtype: object

Duke
42            New York Knicks
46         Philadelphia 76ers
56         Philadelphia 76ers
103      Los Angeles Clippers
104      Los Angeles Clippers
113        Los Angeles Lakers
144          Sacramento Kings
154             Chicago Bulls
168       Cleveland Cavaliers
171       Cleveland Cavaliers
223           Milwaukee Bucks
224           Milwaukee Bucks
340                Miami Heat
346                Miami Heat
352                Miami Heat
401    Minnesota Timberwolves
424     Oklahoma City Thunder
433    Portland Trail Blazers
439    Portland Trail Blazers
449                 Utah Jazz
Name: Team, dtype: object

Eastern Washington
207    Indiana Pacers
Name: Team, dtype: object

Florida
88     Golden State Warriors
162            Chicago Bulls
232         Dallas Mavericks
238         Dallas Mavericks
245          Houston Rockets
296        San Antonio Spurs
312            Atlanta Hawks
343               Miami Heat
369       Washington Wizards
392           Denver Nuggets
Name: Team, dtype: object

Florida State
283    New Orleans Pelicans
Name: Team, dtype: object

Fresno State
199            Indiana Pacers
345                Miami Heat
409    Minnesota Timberwolves
Name: Team, dtype: object

Georgetown
27            Brooklyn Nets
59       Philadelphia 76ers
95     Los Angeles Clippers
111      Los Angeles Lakers
220         Milwaukee Bucks
378      Washington Wizards
Name: Team, dtype: object

Georgia
186    Detroit Pistons
Name: Team, dtype: object

Georgia State
3    Boston Celtics
Name: Team, dtype: object

Georgia Tech
19             Brooklyn Nets
29             Brooklyn Nets
177      Cleveland Cavaliers
339               Miami Heat
421    Oklahoma City Thunder
446                Utah Jazz
Name: Team, dtype: object

Gonzaga
7          Boston Celtics
117    Los Angeles Lakers
Name: Team, dtype: object

Harvard
335    Charlotte Hornets
Name: Team, dtype: object

Houston
307    San Antonio Spurs
Name: Team, dtype: object

IUPUI
200    Indiana Pacers
Name: Team, dtype: object

Illinois
241          Dallas Mavericks
435    Portland Trail Blazers
Name: Team, dtype: object

Indiana
288      New Orleans Pelicans
338         Charlotte Hornets
363             Orlando Magic
441    Portland Trail Blazers
Name: Team, dtype: object

Iowa
360    Orlando Magic
Name: Team, dtype: object

Iowa State
282    New Orleans Pelicans
Name: Team, dtype: object

Kansas
26              Brooklyn Nets
49         Philadelphia 76ers
87      Golden State Warriors
91       Los Angeles Clippers
101      Los Angeles Clippers
107        Los Angeles Lakers
148          Sacramento Kings
173       Cleveland Cavaliers
194           Detroit Pistons
311             Atlanta Hawks
372        Washington Wizards
376        Washington Wizards
377        Washington Wizards
383            Denver Nuggets
411    Minnesota Timberwolves
413     Oklahoma City Thunder
427    Portland Trail Blazers
456                 Utah Jazz
Name: Team, dtype: object

Kansas State
243    Houston Rockets
Name: Team, dtype: object

Kentucky
13             Boston Celtics
55         Philadelphia 76ers
69            Toronto Raptors
115        Los Angeles Lakers
121              Phoenix Suns
122              Phoenix Suns
125              Phoenix Suns
127              Phoenix Suns
141          Sacramento Kings
143          Sacramento Kings
150          Sacramento Kings
193           Detroit Pistons
252           Houston Rockets
281      New Orleans Pelicans
328         Charlotte Hornets
332         Charlotte Hornets
382        Washington Wizards
406    Minnesota Timberwolves
410    Minnesota Timberwolves
418     Oklahoma City Thunder
420     Oklahoma City Thunder
452                 Utah Jazz
Name: Team, dtype: object

LSU
6          Boston Celtics
106    Los Angeles Lakers
222       Milwaukee Bucks
268     Memphis Grizzlies
380    Washington Wizards
381    Washington Wizards
Name: Team, dtype: object

Lehigh
437    Portland Trail Blazers
Name: Team, dtype: object

Long Beach State
284    New Orleans Pelicans
Name: Team, dtype: object

Louisiana Tech
315    Atlanta Hawks
Name: Team, dtype: object

Louisiana-Lafayette
364    Orlando Magic
Name: Team, dtype: object

Louisville
8              Boston Celtics
250           Houston Rockets
399    Minnesota Timberwolves
Name: Team, dtype: object

Marquette
1        Boston Celtics
153       Chicago Bulls
221     Milwaukee Bucks
233    Dallas Mavericks
349          Miami Heat
Name: Team, dtype: object

Marshall
351    Miami Heat
Name: Team, dtype: object

Maryland
128       Phoenix Suns
183    Detroit Pistons
225    Milwaukee Bucks
Name: Team, dtype: object

Memphis
164           Chicago Bulls
285    New Orleans Pelicans
385          Denver Nuggets
Name: Team, dtype: object

Miami (FL)
22           Brooklyn Nets
172    Cleveland Cavaliers
Name: Team, dtype: object

Michigan
58        Philadelphia 76ers
93      Los Angeles Clippers
206           Indiana Pacers
310            Atlanta Hawks
419    Oklahoma City Thunder
443                Utah Jazz
Name: Team, dtype: object

Michigan State
82      Golden State Warriors
94       Los Angeles Clippers
271         Memphis Grizzlies
368        Washington Wizards
389            Denver Nuggets
404    Minnesota Timberwolves
Name: Team, dtype: object

Minnesota
313    Atlanta Hawks
Name: Team, dtype: object

Missouri
63        Toronto Raptors
110    Los Angeles Lakers
130          Phoenix Suns
Name: Team, dtype: object

Morehead State
387    Denver Nuggets
Name: Team, dtype: object

Murray State
47        Philadelphia 76ers
422    Oklahoma City Thunder
Name: Team, dtype: object

Nevada
234        Dallas Mavericks
278    New Orleans Pelicans
379      Washington Wizards
Name: Team, dtype: object

New Mexico
151    Chicago Bulls
165    Chicago Bulls
Name: Team, dtype: object

Norfolk State
39    New York Knicks
Name: Team, dtype: object

North Carolina
14             Boston Celtics
17              Brooklyn Nets
53         Philadelphia 76ers
77      Golden State Warriors
86      Golden State Warriors
185           Detroit Pistons
203            Indiana Pacers
216           Milwaukee Bucks
230          Dallas Mavericks
261         Memphis Grizzlies
267         Memphis Grizzlies
274         Memphis Grizzlies
300         San Antonio Spurs
327         Charlotte Hornets
337         Charlotte Hornets
431    Portland Trail Blazers
Name: Team, dtype: object

North Carolina State
134          Phoenix Suns
184       Detroit Pistons
374    Washington Wizards
Name: Team, dtype: object

Northeastern
228    Dallas Mavericks
Name: Team, dtype: object

Notre Dame
37            New York Knicks
429    Portland Trail Blazers
Name: Team, dtype: object

Ohio State
10         Boston Celtics
12         Boston Celtics
116    Los Angeles Lakers
147      Sacramento Kings
262     Memphis Grizzlies
Name: Team, dtype: object

Oklahoma
96    Los Angeles Clippers
Name: Team, dtype: object

Oklahoma State
9         Boston Celtics
16         Brooklyn Nets
137     Sacramento Kings
258    Memphis Grizzlies
Name: Team, dtype: object

Old Dominion
309    Atlanta Hawks
Name: Team, dtype: object

Oregon
152     Chicago Bulls
210    Indiana Pacers
Name: Team, dtype: object

Oregon State
149    Sacramento Kings
214     Milwaukee Bucks
Name: Team, dtype: object

Penn State
286    New Orleans Pelicans
Name: Team, dtype: object

Pittsburgh
317            Atlanta Hawks
412    Oklahoma City Thunder
Name: Team, dtype: object

Providence
263    Memphis Grizzlies
Name: Team, dtype: object

Purdue
52     Philadelphia 76ers
161         Chicago Bulls
Name: Team, dtype: object

Rhode Island
270    Memphis Grizzlies
Name: Team, dtype: object

Rider
73    Toronto Raptors
Name: Team, dtype: object

Saint Joseph's
36     New York Knicks
394     Denver Nuggets
Name: Team, dtype: object

Saint Louis
25    Brooklyn Nets
Name: Team, dtype: object

Saint Mary's
166    Cleveland Cavaliers
305      San Antonio Spurs
Name: Team, dtype: object

San Diego State
301    San Antonio Spurs
Name: Team, dtype: object

St. Bonaventure
362    Orlando Magic
Name: Team, dtype: object

St. John's
119        Los Angeles Lakers
396            Denver Nuggets
432    Portland Trail Blazers
Name: Team, dtype: object

Stanford
23             Brooklyn Nets
38           New York Knicks
108       Los Angeles Lakers
239         Dallas Mavericks
416    Oklahoma City Thunder
Name: Team, dtype: object

Syracuse
24             Brooklyn Nets
33           New York Knicks
50        Philadelphia 76ers
97      Los Angeles Clippers
197           Indiana Pacers
213          Milwaukee Bucks
215          Milwaukee Bucks
425    Oklahoma City Thunder
Name: Team, dtype: object

Temple
196    Indiana Pacers
Name: Team, dtype: object

Tennessee
175    Cleveland Cavaliers
189        Detroit Pistons
347             Miami Heat
367          Orlando Magic
Name: Team, dtype: object

Tennessee State
48    Philadelphia 76ers
Name: Team, dtype: object

Texas
0             Boston Celtics
66           Toronto Raptors
133             Phoenix Suns
179      Cleveland Cavaliers
208           Indiana Pacers
289     New Orleans Pelicans
294        San Antonio Spurs
384           Denver Nuggets
414    Oklahoma City Thunder
Name: Team, dtype: object

Texas A&M
28            Brooklyn Nets
98     Los Angeles Clippers
219         Milwaukee Bucks
Name: Team, dtype: object

UC Santa Barbara
135            Phoenix Suns
291    New Orleans Pelicans
Name: Team, dtype: object

UCLA
30            New York Knicks
70            Toronto Raptors
85      Golden State Warriors
99       Los Angeles Clippers
142          Sacramento Kings
174       Cleveland Cavaliers
242           Houston Rockets
257         Memphis Grizzlies
260         Memphis Grizzlies
264         Memphis Grizzlies
290      New Orleans Pelicans
295         San Antonio Spurs
402    Minnesota Timberwolves
403    Minnesota Timberwolves
426     Oklahoma City Thunder
Name: Team, dtype: object

UNLV
31        New York Knicks
60     Philadelphia 76ers
181       Detroit Pistons
226       Milwaukee Bucks
Name: Team, dtype: object

USC
64        Toronto Raptors
120    Los Angeles Lakers
157         Chicago Bulls
218       Milwaukee Bucks
273     Memphis Grizzlies
354         Orlando Magic
366         Orlando Magic
Name: Team, dtype: object

Utah
75           Toronto Raptors
78     Golden State Warriors
304        San Antonio Spurs
Name: Team, dtype: object

Utah Valley
131    Phoenix Suns
Name: Team, dtype: object

Vanderbilt
81     Golden State Warriors
126             Phoenix Suns
Name: Team, dtype: object

Villanova
67           Toronto Raptors
190          Detroit Pistons
280     New Orleans Pelicans
415    Oklahoma City Thunder
Name: Team, dtype: object

Virginia
227    Dallas Mavericks
319       Atlanta Hawks
Name: Team, dtype: object

Virginia Commonwealth
325    Charlotte Hornets
350           Miami Heat
Name: Team, dtype: object

Virginia Tech
371    Washington Wizards
Name: Team, dtype: object

Wake Forest
57         Philadelphia 76ers
65            Toronto Raptors
100      Los Angeles Clippers
298         San Antonio Spurs
323             Atlanta Hawks
428    Portland Trail Blazers
Name: Team, dtype: object

Washington
11           Boston Celtics
45          New York Knicks
71          Toronto Raptors
105    Los Angeles Clippers
158           Chicago Bulls
293    New Orleans Pelicans
329       Charlotte Hornets
Name: Team, dtype: object

Washington State
89     Golden State Warriors
182          Detroit Pistons
Name: Team, dtype: object

Weber State
436    Portland Trail Blazers
Name: Team, dtype: object

Westchester CC
438    Portland Trail Blazers
Name: Team, dtype: object

Western Carolina
303    San Antonio Spurs
Name: Team, dtype: object

Western Kentucky
229     Dallas Mavericks
334    Charlotte Hornets
Name: Team, dtype: object

Western Michigan
209    Indiana Pacers
Name: Team, dtype: object

Wichita State
35    New York Knicks
Name: Team, dtype: object

Wisconsin
129         Phoenix Suns
145     Sacramento Kings
231     Dallas Mavericks
247      Houston Rockets
331    Charlotte Hornets
Name: Team, dtype: object

Wyoming
114    Los Angeles Lakers
Name: Team, dtype: object

Xavier
308    San Antonio Spurs
Name: Team, dtype: object

In [25]:
df.groupby(['College'])['Team'].agg(['count'])

                  count
College
Alabama               3
Arizona              13
Arizona State         2
Arkansas              3
Baylor                1
...                 ...
Western Michigan      1
Wichita State         1
Wisconsin             5
Wyoming               1
Xavier                1

[118 rows x 1 columns]

In [18]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
var=df.groupby(['Team'])

In [23]:
var.get_group('99.0')

KeyError: '99.0'

In [14]:
for x,y in var:
    print(x)
    print(y)
    print()

Atlanta Hawks
      Age
309  26.0
310  24.0
311  35.0
312  30.0
313  31.0
314  35.0
315  31.0
316  24.0
317  24.0
318  22.0
319  27.0
320  32.0
321  31.0
322  24.0
323  27.0

Boston Celtics
     Age
0   25.0
1   25.0
2   27.0
3   22.0
4   29.0
5   29.0
6   21.0
7   25.0
8   22.0
9   22.0
10  24.0
11  27.0
12  27.0
13  20.0
14  26.0

Brooklyn Nets
     Age
15  27.0
16  24.0
17  28.0
18  21.0
19  32.0
20  22.0
21  26.0
22  23.0
23  28.0
24  21.0
25  26.0
26  25.0
27  26.0
28  28.0
29  27.0

Charlotte Hornets
      Age
324  27.0
325  24.0
326  27.0
327  30.0
328  21.0
329  28.0
330  31.0
331  23.0
332  22.0
333  24.0
334  30.0
335  27.0
336  26.0
337  29.0
338  23.0

Chicago Bulls
      Age
151  25.0
152  31.0
153  26.0
154  35.0
155  23.0
156  35.0
157  30.0
158  27.0
159  24.0
160  25.0
161  27.0
162  31.0
163  21.0
164  27.0
165  24.0

Cleveland Cavaliers
      Age
166  25.0
167  33.0
168  24.0
169  31.0
170  35.0
171  35.0
172  35.0
173  31.0
174  27.0
175  25.0
176  29.0
177  25.0
178  30.0
179  25.0
180  33.0

Dallas Mavericks
      Age
227  22.0
228  31.0
229  28.0
230  31.0
231  33.0
232  33.0
233  29.0
234  28.0
235  29.0
236  37.0
237  32.0
238  27.0
239  24.0
240  31.0
241  31.0

Denver Nuggets
      Age
383  28.0
384  28.0
385  25.0
386  29.0
387  26.0
388  27.0
389  21.0
390  21.0
391  24.0
392  36.0
393  20.0
394  34.0
395  21.0
396  23.0
397  23.0

Detroit Pistons
      Age
181  33.0
182  29.0
183  36.0
184  25.0
185  25.0
186  23.0
187  23.0
188  22.0
189  23.0
190  23.0
191  26.0
192  20.0
193  28.0
194  26.0
195  31.0

Golden State Warriors
     Age
76  33.0
77  24.0
78  31.0
79  25.0
80  28.0
81  26.0
82  26.0
83  32.0
84  30.0
85  20.0
86  23.0
87  30.0
88  28.0
89  26.0
90  33.0

Houston Rockets
      Age
242  30.0
243  27.0
244  27.0
245  30.0
246  22.0
247  22.0
248  27.0
249  26.0
250  22.0
251  30.0
252  24.0
253  23.0
254  25.0
255  30.0
256  38.0

Indiana Pacers
      Age
196  27.0
197  24.0
198  30.0
199  26.0
200  30.0
201  28.0
202  25.0
203  28.0
204  29.0
205  29.0
206  22.0
207  30.0
208  20.0
209  25.0
210  23.0

Los Angeles Clippers
      Age
91   27.0
92   29.0
93   36.0
94   23.0
95   29.0
96   27.0
97   28.0
98   27.0
99   29.0
100  31.0
101  38.0
102  39.0
103  31.0
104  23.0
105  25.0

Los Angeles Lakers
      Age
106  31.0
107  24.0
108  23.0
109  37.0
110  24.0
111  29.0
112  33.0
113  25.0
114  23.0
115  21.0
116  20.0
117  27.0
118  29.0
119  36.0
120  31.0

Memphis Grizzlies
      Age
257  21.0
258  34.0
259  37.0
260  36.0
261  39.0
262  28.0
263  23.0
264  29.0
265  31.0
266  25.0
267  23.0
268  22.0
269  24.0
270  24.0
271  34.0
272  25.0
273  28.0
274  28.0

Miami Heat
      Age
339  32.0
340  31.0
341  30.0
342  30.0
343  36.0
344  34.0
345  24.0
346  29.0
347  22.0
348  33.0
349  34.0
350  23.0
351  26.0
352  20.0
353  30.0

Milwaukee Bucks
      Age
211  21.0
212  27.0
213  24.0
214  25.0
215  21.0
216  25.0
217  21.0
218  28.0
219  24.0
220  26.0
221  32.0
222  23.0
223  21.0
224  27.0
225  29.0
226  19.0

Minnesota Timberwolves
      Age
398  28.0
399  26.0
400  40.0
401  20.0
402  21.0
403  23.0
404  25.0
405  30.0
406  36.0
407  25.0
408  29.0
409  25.0
410  20.0
411  21.0

New Orleans Pelicans
      Age
275  28.0
276  28.0
277  29.0
278  26.0
279  27.0
280  29.0
281  23.0
282  23.0
283  30.0
284  25.0
285  26.0
286  25.0
287  29.0
288  27.0
289  25.0
290  25.0
291  27.0
292  31.0
293  28.0

New York Knicks
     Age
30  30.0
31  33.0
32  23.0
33  32.0
34  34.0
35  25.0
36  24.0
37  23.0
38  28.0
39  26.0
40  20.0
41  26.0
42  28.0
43  32.0
44  25.0
45  23.0

Oklahoma City Thunder
      Age
412  22.0
413  35.0
414  27.0
415  32.0
416  24.0
417  26.0
418  24.0
419  24.0
420  38.0
421  30.0
422  21.0
423  24.0
424  28.0
425  24.0
426  27.0

Orlando Magic
      Age
354  26.0
355  23.0
356  20.0
357  21.0
358  29.0
359  26.0
360  23.0
361  24.0
362  26.0
363  24.0
364  22.0
365  30.0
366  25.0
367  32.0

Philadelphia 76ers
     Age
46  37.0
47  25.0
48  25.0
49  22.0
50  22.0
51  22.0
52  32.0
53  24.0
54  24.0
55  22.0
56  20.0
57  27.0
58  22.0
59  25.0
60  20.0

Phoenix Suns
      Age
121  26.0
122  19.0
123  28.0
124  33.0
125  21.0
126  25.0
127  24.0
128  22.0
129  27.0
130  25.0
131  32.0
132  30.0
133  31.0
134  22.0
135  23.0

Portland Trail Blazers
      Age
427  20.0
428  25.0
429  23.0
430  24.0
431  27.0
432  23.0
433  28.0
434  34.0
435  24.0
436  25.0
437  24.0
438  23.0
439  26.0
440  30.0
441  20.0

Sacramento Kings
      Age
136  25.0
137  27.0
138  30.0
139  36.0
140  27.0
141  22.0
142  28.0
143  25.0
144  25.0
145  24.0
146  29.0
147  27.0
148  23.0
149  24.0
150  30.0

San Antonio Spurs
      Age
294  30.0
295  22.0
296  36.0
297  34.0
298  40.0
299  38.0
300  28.0
301  24.0
302  27.0
303  33.0
304  40.0
305  27.0
306  34.0
307  26.0
308  35.0

Toronto Raptors
     Age
61  23.0
62  20.0
63  29.0
64  26.0
65  29.0
66  24.0
67  30.0
68  23.0
69  27.0
70  23.0
71  25.0
72  36.0
73  29.0
74  24.0
75  24.0

Utah Jazz
      Age
442  28.0
443  23.0
444  24.0
445  20.0
446  24.0
447  23.0
448  26.0
449  23.0
450  28.0
451  26.0
452  20.0
453  26.0
454  24.0
455  26.0
456  26.0

Washington Wizards
      Age
368  33.0
369  22.0
370  30.0
371  24.0
372  34.0
373  32.0
374  27.0
375  33.0
376  26.0
377  20.0
378  23.0
379  30.0
380  30.0
381  29.0
382  25.0

In [24]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
v1=df.groupby(['Team'])

In [29]:
for x,y in v1:
    print(x)
    print(y)
    print()

C:\Users\M J\AppData\Local\Temp\ipykernel_10012\1811722786.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for x,y in v1:

Atlanta Hawks
                 Name           Team  Number Position   Age Height  Weight  \
309     Kent Bazemore  Atlanta Hawks    24.0       SF  26.0    6-5   201.0
310  Tim Hardaway Jr.  Atlanta Hawks    10.0       SG  24.0    6-6   205.0
311      Kirk Hinrich  Atlanta Hawks    12.0       SG  35.0    6-4   190.0
312        Al Horford  Atlanta Hawks    15.0        C  30.0   6-10   245.0
313    Kris Humphries  Atlanta Hawks    43.0       PF  31.0    6-9   235.0
314       Kyle Korver  Atlanta Hawks    26.0       SG  35.0    6-7   212.0
315      Paul Millsap  Atlanta Hawks     4.0       PF  31.0    6-8   246.0
316      Mike Muscala  Atlanta Hawks    31.0       PF  24.0   6-11   240.0
317   Lamar Patterson  Atlanta Hawks    13.0       SG  24.0    6-5   225.0
318   Dennis Schroder  Atlanta Hawks    17.0       PG  22.0    6-1   172.0
319        Mike Scott  Atlanta Hawks    32.0       PF  27.0    6-8   237.0
320   Thabo Sefolosha  Atlanta Hawks    25.0       SF  32.0    6-7   220.0
321    Tiago Splitter  Atlanta Hawks    11.0        C  31.0   6-11   245.0
322    Walter Tavares  Atlanta Hawks    22.0        C  24.0    7-3   260.0
323       Jeff Teague  Atlanta Hawks     0.0       PG  27.0    6-2   186.0

            College      Salary
309    Old Dominion   2000000.0
310        Michigan   1304520.0
311          Kansas   2854940.0
312         Florida  12000000.0
313       Minnesota   1000000.0
314       Creighton   5746479.0
315  Louisiana Tech  18671659.0
316        Bucknell    947276.0
317      Pittsburgh    525093.0
318             NaN   1763400.0
319        Virginia   3333333.0
320             NaN   4000000.0
321             NaN   9756250.0
322             NaN   1000000.0
323     Wake Forest   8000000.0

Boston Celtics
               Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2      John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5      Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0

Brooklyn Nets
                       Name           Team  Number Position   Age Height  \
15         Bojan Bogdanovic  Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown  Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington  Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson  Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack  Brooklyn Nets     2.0       PG  32.0    6-3
20           Sergey Karasev  Brooklyn Nets    10.0       SG  22.0    6-7
21          Sean Kilpatrick  Brooklyn Nets     6.0       SG  26.0    6-4
22             Shane Larkin  Brooklyn Nets     0.0       PG  23.0   5-11
23              Brook Lopez  Brooklyn Nets    11.0        C  28.0    7-0
24         Chris McCullough  Brooklyn Nets     1.0       PF  21.0   6-11
25              Willie Reed  Brooklyn Nets    33.0       PF  26.0   6-10
26          Thomas Robinson  Brooklyn Nets    41.0       PF  25.0   6-10
27               Henry Sims  Brooklyn Nets    14.0        C  26.0   6-10
28             Donald Sloan  Brooklyn Nets    15.0       PG  28.0    6-3
29           Thaddeus Young  Brooklyn Nets    30.0       PF  27.0    6-8

    Weight         College      Salary
15   216.0             NaN   3425510.0
16   190.0  Oklahoma State    845059.0
17   200.0  North Carolina   1500000.0
18   220.0         Arizona   1335480.0
19   200.0    Georgia Tech   6300000.0
20   208.0             NaN   1599840.0
21   219.0      Cincinnati    134215.0
22   175.0      Miami (FL)   1500000.0
23   275.0        Stanford  19689000.0
24   200.0        Syracuse   1140240.0
25   220.0     Saint Louis    947276.0
26   237.0          Kansas    981348.0
27   248.0      Georgetown    947276.0
28   205.0       Texas A&M    947276.0
29   221.0    Georgia Tech  11235955.0

Charlotte Hornets
                       Name               Team  Number Position   Age Height  \
324           Nicolas Batum  Charlotte Hornets     5.0       SG  27.0    6-8
325            Troy Daniels  Charlotte Hornets    30.0       SG  24.0    6-4
326         Jorge Gutierrez  Charlotte Hornets    12.0       PG  27.0    6-3
327        Tyler Hansbrough  Charlotte Hornets    50.0       PF  30.0    6-9
328          Aaron Harrison  Charlotte Hornets     9.0       SG  21.0    6-6
329           Spencer Hawes  Charlotte Hornets     0.0       PF  28.0    7-1
330            Al Jefferson  Charlotte Hornets    25.0        C  31.0   6-10
331      Frank Kaminsky III  Charlotte Hornets    44.0        C  23.0    7-0
332  Michael Kidd-Gilchrist  Charlotte Hornets    14.0       SF  22.0    6-7
333             Jeremy Lamb  Charlotte Hornets     3.0       SG  24.0    6-5
334            Courtney Lee  Charlotte Hornets     1.0       SG  30.0    6-5
335              Jeremy Lin  Charlotte Hornets     7.0       PG  27.0    6-3
336            Kemba Walker  Charlotte Hornets    15.0       PG  26.0    6-1
337         Marvin Williams  Charlotte Hornets     2.0       PF  29.0    6-9
338             Cody Zeller  Charlotte Hornets    40.0        C  23.0    7-0

     Weight                College      Salary
324   200.0                    NaN  13125306.0
325   205.0  Virginia Commonwealth    947276.0
326   189.0             California    189455.0
327   250.0         North Carolina    947276.0
328   210.0               Kentucky    525093.0
329   245.0             Washington   6110034.0
330   289.0                    NaN  13500000.0
331   240.0              Wisconsin   2612520.0
332   232.0               Kentucky   6331404.0
333   185.0            Connecticut   3034356.0
334   200.0       Western Kentucky   5675000.0
335   200.0                Harvard   2139000.0
336   184.0            Connecticut  12000000.0
337   237.0         North Carolina   7000000.0
338   240.0                Indiana   4204200.0

Chicago Bulls
                  Name           Team  Number Position   Age Height  Weight  \
151   Cameron Bairstow  Chicago Bulls    41.0       PF  25.0    6-9   250.0
152       Aaron Brooks  Chicago Bulls     0.0       PG  31.0    6-0   161.0
153       Jimmy Butler  Chicago Bulls    21.0       SG  26.0    6-7   220.0
154      Mike Dunleavy  Chicago Bulls    34.0       SG  35.0    6-9   230.0
155  Cristiano Felicio  Chicago Bulls     6.0       PF  23.0   6-10   275.0
156          Pau Gasol  Chicago Bulls    16.0        C  35.0    7-0   250.0
157         Taj Gibson  Chicago Bulls    22.0       PF  30.0    6-9   225.0
158     Justin Holiday  Chicago Bulls     7.0       SG  27.0    6-6   185.0
159     Doug McDermott  Chicago Bulls     3.0       SF  24.0    6-8   225.0
160     Nikola Mirotic  Chicago Bulls    44.0       PF  25.0   6-10   220.0
161      E'Twaun Moore  Chicago Bulls    55.0       SG  27.0    6-4   191.0
162        Joakim Noah  Chicago Bulls    13.0        C  31.0   6-11   232.0
163       Bobby Portis  Chicago Bulls     5.0       PF  21.0   6-11   230.0
164       Derrick Rose  Chicago Bulls     1.0       PG  27.0    6-3   190.0
165         Tony Snell  Chicago Bulls    20.0       SF  24.0    6-7   200.0

        College      Salary
151  New Mexico    845059.0
152      Oregon   2250000.0
153   Marquette  16407500.0
154        Duke   4500000.0
155         NaN    525093.0
156         NaN   7448760.0
157         USC   8500000.0
158  Washington    947276.0
159   Creighton   2380440.0
160         NaN   5543725.0
161      Purdue   1015421.0
162     Florida  13400000.0
163    Arkansas   1391160.0
164     Memphis  20093064.0
165  New Mexico   1535880.0

Cleveland Cavaliers
                    Name                 Team  Number Position   Age Height  \
166  Matthew Dellavedova  Cleveland Cavaliers     8.0       PG  25.0    6-4
167        Channing Frye  Cleveland Cavaliers     9.0       PF  33.0   6-11
168         Kyrie Irving  Cleveland Cavaliers     2.0       PG  24.0    6-3
169         LeBron James  Cleveland Cavaliers    23.0       SF  31.0    6-8
170    Richard Jefferson  Cleveland Cavaliers    24.0       SF  35.0    6-7
171        Dahntay Jones  Cleveland Cavaliers    30.0       SG  35.0    6-6
172          James Jones  Cleveland Cavaliers     1.0       SG  35.0    6-8
173           Sasha Kaun  Cleveland Cavaliers    14.0        C  31.0   6-11
174           Kevin Love  Cleveland Cavaliers     0.0       PF  27.0   6-10
175         Jordan McRae  Cleveland Cavaliers    12.0       SG  25.0    6-5
176       Timofey Mozgov  Cleveland Cavaliers    20.0        C  29.0    7-1
177        Iman Shumpert  Cleveland Cavaliers     4.0       SG  25.0    6-5
178           J.R. Smith  Cleveland Cavaliers     5.0       SG  30.0    6-6
179     Tristan Thompson  Cleveland Cavaliers    13.0        C  25.0    6-9
180          Mo Williams  Cleveland Cavaliers    52.0       PG  33.0    6-1

     Weight       College      Salary
166   198.0  Saint Mary's   1147276.0
167   255.0       Arizona   8193029.0
168   193.0          Duke  16407501.0
169   250.0           NaN  22970500.0
170   233.0       Arizona    947276.0
171   225.0          Duke         NaN
172   218.0    Miami (FL)    947276.0
173   260.0        Kansas   1276000.0
174   251.0          UCLA  19689000.0
175   179.0     Tennessee    111196.0
176   275.0           NaN   4950000.0
177   220.0  Georgia Tech   8988765.0
178   225.0           NaN   5000000.0
179   238.0         Texas  14260870.0
180   198.0       Alabama   2100000.0

Dallas Mavericks
                   Name              Team  Number Position   Age Height  \
227     Justin Anderson  Dallas Mavericks     1.0       SG  22.0    6-6
228          J.J. Barea  Dallas Mavericks     5.0       PG  31.0    6-0
229        Jeremy Evans  Dallas Mavericks    21.0       SF  28.0    6-9
230      Raymond Felton  Dallas Mavericks     2.0       PG  31.0    6-1
231        Devin Harris  Dallas Mavericks    34.0       PG  33.0    6-3
232           David Lee  Dallas Mavericks    42.0       PF  33.0    6-9
233     Wesley Matthews  Dallas Mavericks    23.0       SG  29.0    6-5
234        JaVale McGee  Dallas Mavericks    11.0        C  28.0    7-0
235         Salah Mejri  Dallas Mavericks    50.0        C  29.0    7-2
236       Dirk Nowitzki  Dallas Mavericks    41.0       PF  37.0    7-0
237       Zaza Pachulia  Dallas Mavericks    27.0        C  32.0   6-11
238    Chandler Parsons  Dallas Mavericks    25.0       SF  27.0   6-10
239       Dwight Powell  Dallas Mavericks     7.0       PF  24.0   6-11
240  Charlie Villanueva  Dallas Mavericks     3.0       PF  31.0   6-11
241      Deron Williams  Dallas Mavericks     8.0       PG  31.0    6-3

     Weight           College      Salary
227   228.0          Virginia   1449000.0
228   185.0      Northeastern   4290000.0
229   200.0  Western Kentucky   1100602.0
230   205.0    North Carolina   3950313.0
231   185.0         Wisconsin   4053446.0
232   245.0           Florida   2085671.0
233   220.0         Marquette  16407500.0
234   270.0            Nevada   1270964.0
235   245.0               NaN    525093.0
236   245.0               NaN   8333334.0
237   275.0               NaN   5200000.0
238   230.0           Florida  15361500.0
239   240.0          Stanford    845059.0
240   232.0       Connecticut    947276.0
241   200.0          Illinois   5378974.0

Denver Nuggets
                  Name            Team  Number Position   Age Height  Weight  \
383     Darrell Arthur  Denver Nuggets     0.0       PF  28.0    6-9   235.0
384      D.J. Augustin  Denver Nuggets    12.0       PG  28.0    6-0   183.0
385        Will Barton  Denver Nuggets     5.0       SF  25.0    6-6   175.0
386    Wilson Chandler  Denver Nuggets    21.0       SF  29.0    6-8   225.0
387     Kenneth Faried  Denver Nuggets    35.0       PF  26.0    6-8   228.0
388   Danilo Gallinari  Denver Nuggets     8.0       SF  27.0   6-10   225.0
389        Gary Harris  Denver Nuggets    14.0       SG  21.0    6-4   210.0
390       Nikola Jokic  Denver Nuggets    15.0        C  21.0   6-10   250.0
391  Joffrey Lauvergne  Denver Nuggets    77.0        C  24.0   6-11   220.0
392        Mike Miller  Denver Nuggets     3.0       SG  36.0    6-8   218.0
393    Emmanuel Mudiay  Denver Nuggets     0.0       PG  20.0    6-5   200.0
394      Jameer Nelson  Denver Nuggets     1.0       PG  34.0    6-0   190.0
395       Jusuf Nurkic  Denver Nuggets    23.0        C  21.0    7-0   280.0
396     JaKarr Sampson  Denver Nuggets     9.0       SG  23.0    6-9   214.0
397       Axel Toupane  Denver Nuggets     6.0       SG  23.0    6-7   210.0

            College      Salary
383          Kansas   2814000.0
384           Texas   3000000.0
385         Memphis   3533333.0
386          DePaul  10449438.0
387  Morehead State  11235955.0
388             NaN  14000000.0
389  Michigan State   1584480.0
390             NaN   1300000.0
391             NaN   1709719.0
392         Florida    947276.0
393             NaN   3102240.0
394  Saint Joseph's   4345000.0
395             NaN   1842000.0
396      St. John's    258489.0
397             NaN         NaN

Detroit Pistons
                         Name             Team  Number Position   Age Height  \
181              Joel Anthony  Detroit Pistons    50.0        C  33.0    6-9
182               Aron Baynes  Detroit Pistons    12.0        C  29.0   6-10
183               Steve Blake  Detroit Pistons    22.0       PG  36.0    6-3
184             Lorenzo Brown  Detroit Pistons    17.0       PG  25.0    6-5
185            Reggie Bullock  Detroit Pistons    25.0       SF  25.0    6-7
186  Kentavious Caldwell-Pope  Detroit Pistons     5.0       SG  23.0    6-5
187         Spencer Dinwiddie  Detroit Pistons     8.0       PG  23.0    6-6
188            Andre Drummond  Detroit Pistons     0.0        C  22.0   6-11
189             Tobias Harris  Detroit Pistons    34.0       SF  23.0    6-9
190           Darrun Hilliard  Detroit Pistons     6.0       SF  23.0    6-6
191            Reggie Jackson  Detroit Pistons     1.0       PG  26.0    6-3
192           Stanley Johnson  Detroit Pistons     3.0       SF  20.0    6-7
193               Jodie Meeks  Detroit Pistons    20.0       SG  28.0    6-4
194             Marcus Morris  Detroit Pistons    13.0       PF  26.0    6-9
195          Anthony Tolliver  Detroit Pistons    43.0       PF  31.0    6-8

     Weight               College      Salary
181   245.0                  UNLV   2500000.0
182   260.0      Washington State   6500000.0
183   172.0              Maryland   2170465.0
184   189.0  North Carolina State    111444.0
185   205.0        North Carolina   1252440.0
186   205.0               Georgia   2891760.0
187   200.0              Colorado    845059.0
188   279.0           Connecticut   3272091.0
189   235.0             Tennessee  16000000.0
190   205.0             Villanova    600000.0
191   208.0        Boston College  13913044.0
192   245.0               Arizona   2841960.0
193   210.0              Kentucky   6270000.0
194   235.0                Kansas   5000000.0
195   240.0             Creighton   3000000.0

Golden State Warriors
                    Name                   Team  Number Position   Age Height  \
76       Leandro Barbosa  Golden State Warriors    19.0       SG  33.0    6-3
77       Harrison Barnes  Golden State Warriors    40.0       SF  24.0    6-8
78          Andrew Bogut  Golden State Warriors    12.0        C  31.0    7-0
79             Ian Clark  Golden State Warriors    21.0       SG  25.0    6-3
80         Stephen Curry  Golden State Warriors    30.0       PG  28.0    6-3
81          Festus Ezeli  Golden State Warriors    31.0        C  26.0   6-11
82        Draymond Green  Golden State Warriors    23.0       PF  26.0    6-7
83        Andre Iguodala  Golden State Warriors     9.0       SF  32.0    6-6
84      Shaun Livingston  Golden State Warriors    34.0       PG  30.0    6-7
85          Kevon Looney  Golden State Warriors    36.0       SF  20.0    6-9
86  James Michael McAdoo  Golden State Warriors    20.0       SF  23.0    6-9
87          Brandon Rush  Golden State Warriors     4.0       SF  30.0    6-6
88     Marreese Speights  Golden State Warriors     5.0        C  28.0   6-10
89         Klay Thompson  Golden State Warriors    11.0       SG  26.0    6-7
90      Anderson Varejao  Golden State Warriors    18.0       PF  33.0   6-11

    Weight           College      Salary
76   194.0               NaN   2500000.0
77   225.0    North Carolina   3873398.0
78   260.0              Utah  13800000.0
79   175.0           Belmont    947276.0
80   190.0          Davidson  11370786.0
81   265.0        Vanderbilt   2008748.0
82   230.0    Michigan State  14260870.0
83   215.0           Arizona  11710456.0
84   192.0               NaN   5543725.0
85   220.0              UCLA   1131960.0
86   240.0    North Carolina    845059.0
87   220.0            Kansas   1270964.0
88   255.0           Florida   3815000.0
89   215.0  Washington State  15501000.0
90   273.0               NaN    289755.0

Houston Rockets
                   Name             Team  Number Position   Age Height  \
242        Trevor Ariza  Houston Rockets     1.0       SF  30.0    6-8
243     Michael Beasley  Houston Rockets     8.0       SF  27.0   6-10
244    Patrick Beverley  Houston Rockets     2.0       PG  27.0    6-1
245        Corey Brewer  Houston Rockets    33.0       SG  30.0    6-9
246        Clint Capela  Houston Rockets    15.0       PF  22.0   6-10
247          Sam Dekker  Houston Rockets     7.0       SF  22.0    6-9
248    Andrew Goudelock  Houston Rockets     0.0       PG  27.0    6-3
249        James Harden  Houston Rockets    13.0       SG  26.0    6-5
250    Montrezl Harrell  Houston Rockets    35.0       PF  22.0    6-8
251       Dwight Howard  Houston Rockets    12.0        C  30.0   6-11
252      Terrence Jones  Houston Rockets     6.0       PF  24.0    6-9
253      K.J. McDaniels  Houston Rockets    32.0       SG  23.0    6-6
254  Donatas Motiejunas  Houston Rockets    20.0       PF  25.0    7-0
255          Josh Smith  Houston Rockets     5.0        C  30.0    6-9
256         Jason Terry  Houston Rockets    31.0       SG  38.0    6-2

     Weight        College      Salary
242   215.0           UCLA   8193030.0
243   235.0   Kansas State    306527.0
244   185.0       Arkansas   6486486.0
245   186.0        Florida   8229375.0
246   240.0            NaN   1242720.0
247   230.0      Wisconsin   1646400.0
248   200.0     Charleston    200600.0
249   220.0  Arizona State  15756438.0
250   240.0     Louisville   1000000.0
251   265.0            NaN  22359364.0
252   252.0       Kentucky   2489530.0

Oklahoma City Thunder
                  Name                   Team  Number Position   Age Height  \
412       Steven Adams  Oklahoma City Thunder    12.0        C  22.0    7-0
413      Nick Collison  Oklahoma City Thunder     4.0       PF  35.0   6-10
414       Kevin Durant  Oklahoma City Thunder    35.0       SF  27.0    6-9
415         Randy Foye  Oklahoma City Thunder     6.0       SG  32.0    6-4
416       Josh Huestis  Oklahoma City Thunder    34.0       SF  24.0    6-7
417        Serge Ibaka  Oklahoma City Thunder     9.0       PF  26.0   6-10
418        Enes Kanter  Oklahoma City Thunder    11.0        C  24.0   6-11
419       Mitch McGary  Oklahoma City Thunder    33.0       PF  24.0   6-10
420      Nazr Mohammed  Oklahoma City Thunder    13.0        C  38.0   6-10
421     Anthony Morrow  Oklahoma City Thunder     2.0       SG  30.0    6-5
422      Cameron Payne  Oklahoma City Thunder    22.0       PG  21.0    6-3
423     Andre Roberson  Oklahoma City Thunder    21.0       SG  24.0    6-7
424       Kyle Singler  Oklahoma City Thunder     5.0       SF  28.0    6-8
425       Dion Waiters  Oklahoma City Thunder     3.0       SG  24.0    6-4
426  Russell Westbrook  Oklahoma City Thunder     0.0       PG  27.0    6-3

     Weight       College      Salary
412   255.0    Pittsburgh   2279040.0
413   255.0        Kansas   3750000.0
414   240.0         Texas  20158622.0
415   213.0     Villanova   3135000.0
416   230.0      Stanford   1140240.0
417   245.0           NaN  12250000.0
418   245.0      Kentucky  16407500.0
419   255.0      Michigan   1463040.0
420   250.0      Kentucky    222888.0
421   210.0  Georgia Tech   3344000.0
422   185.0  Murray State   2021520.0
423   210.0      Colorado   1210800.0
424   228.0          Duke   4500000.0
425   220.0      Syracuse   5138430.0
426   200.0          UCLA  16744218.0

Orlando Magic
                 Name           Team  Number Position   Age Height  Weight  \
354    Dewayne Dedmon  Orlando Magic     3.0        C  26.0    7-0   245.0
355     Evan Fournier  Orlando Magic    10.0       SG  23.0    6-7   205.0
356      Aaron Gordon  Orlando Magic     0.0       PF  20.0    6-9   220.0
357     Mario Hezonja  Orlando Magic    23.0       SG  21.0    6-8   218.0
358    Ersan Ilyasova  Orlando Magic     7.0       PF  29.0   6-10   235.0
359  Brandon Jennings  Orlando Magic    55.0       PG  26.0    6-1   169.0
360      Devyn Marble  Orlando Magic    11.0       SF  23.0    6-6   200.0
361    Shabazz Napier  Orlando Magic    13.0       PG  24.0    6-1   175.0
362  Andrew Nicholson  Orlando Magic    44.0       PF  26.0    6-9   250.0
363    Victor Oladipo  Orlando Magic     5.0       SG  24.0    6-4   210.0
364     Elfrid Payton  Orlando Magic     4.0       PG  22.0    6-4   185.0
365       Jason Smith  Orlando Magic    14.0       PF  30.0    7-0   240.0
366    Nikola Vucevic  Orlando Magic     9.0        C  25.0    7-0   260.0
367       C.J. Watson  Orlando Magic    32.0       PG  32.0    6-2   175.0

                 College      Salary
354                  USC    947276.0
355                  NaN   2288205.0
356              Arizona   4171680.0
357                  NaN   3741480.0
358                  NaN   7900000.0
359                  NaN   8344497.0
360                 Iowa    845059.0
361          Connecticut   1294440.0
362      St. Bonaventure   2380593.0
363              Indiana   5192520.0
364  Louisiana-Lafayette   2505720.0
365       Colorado State   4300000.0
366                  USC  11250000.0
367            Tennessee   5000000.0

Philadelphia 76ers
                Name                Team  Number Position   Age Height  \
46       Elton Brand  Philadelphia 76ers    42.0       PF  37.0    6-9
47     Isaiah Canaan  Philadelphia 76ers     0.0       PG  25.0    6-0
48  Robert Covington  Philadelphia 76ers    33.0       SF  25.0    6-9
49       Joel Embiid  Philadelphia 76ers    21.0        C  22.0    7-0
50      Jerami Grant  Philadelphia 76ers    39.0       SF  22.0    6-8
51    Richaun Holmes  Philadelphia 76ers    22.0       PF  22.0   6-10
52       Carl Landry  Philadelphia 76ers     7.0       PF  32.0    6-9
53  Kendall Marshall  Philadelphia 76ers     5.0       PG  24.0    6-4
54    T.J. McConnell  Philadelphia 76ers    12.0       PG  24.0    6-2
55      Nerlens Noel  Philadelphia 76ers     4.0       PF  22.0   6-11
56     Jahlil Okafor  Philadelphia 76ers     8.0        C  20.0   6-11
57         Ish Smith  Philadelphia 76ers     1.0       PG  27.0    6-0
58      Nik Stauskas  Philadelphia 76ers    11.0       SG  22.0    6-6
59   Hollis Thompson  Philadelphia 76ers    31.0       SG  25.0    6-8
60    Christian Wood  Philadelphia 76ers    35.0       PF  20.0   6-11

    Weight          College     Salary
46   254.0             Duke        NaN
47   201.0     Murray State   947276.0
48   215.0  Tennessee State  1000000.0
49   250.0           Kansas  4626960.0
50   210.0         Syracuse   845059.0
51   245.0    Bowling Green  1074169.0
52   248.0           Purdue  6500000.0
53   200.0   North Carolina  2144772.0
54   200.0          Arizona   525093.0
55   228.0         Kentucky  3457800.0
56   275.0             Duke  4582680.0
57   175.0      Wake Forest   947276.0
58   205.0         Michigan  2869440.0
59   206.0       Georgetown   947276.0
60   220.0             UNLV   525093.0

Phoenix Suns
                Name          Team  Number Position   Age Height  Weight  \
121     Eric Bledsoe  Phoenix Suns     2.0       PG  26.0    6-1   190.0
122     Devin Booker  Phoenix Suns     1.0       SG  19.0    6-6   206.0
123   Chase Budinger  Phoenix Suns    10.0       SF  28.0    6-7   209.0
124   Tyson Chandler  Phoenix Suns     4.0        C  33.0    7-1   240.0
125   Archie Goodwin  Phoenix Suns    20.0       SG  21.0    6-5   200.0
126     John Jenkins  Phoenix Suns    23.0       SG  25.0    6-4   215.0
127   Brandon Knight  Phoenix Suns     3.0       PG  24.0    6-3   189.0
128         Alex Len  Phoenix Suns    21.0        C  22.0    7-1   260.0
129        Jon Leuer  Phoenix Suns    30.0       PF  27.0   6-10   228.0
130     Phil Pressey  Phoenix Suns    25.0       PG  25.0   5-11   175.0
131     Ronnie Price  Phoenix Suns    14.0       PG  32.0    6-2   190.0
132  Mirza Teletovic  Phoenix Suns    35.0       PF  30.0    6-9   242.0
133      P.J. Tucker  Phoenix Suns    17.0       SF  31.0    6-6   245.0
134      T.J. Warren  Phoenix Suns    12.0       SF  22.0    6-8   230.0
135    Alan Williams  Phoenix Suns    15.0        C  23.0    6-8   260.0

                  College      Salary
121              Kentucky  13500000.0
122              Kentucky   2127840.0
123               Arizona    206192.0
124                   NaN  13000000.0
125              Kentucky   1160160.0
126            Vanderbilt    981348.0
127              Kentucky  13500000.0
128              Maryland   3807120.0
129             Wisconsin   1035000.0
130              Missouri     55722.0
131           Utah Valley    947276.0
132                   NaN   5500000.0
133                 Texas   5500000.0
134  North Carolina State   2041080.0
135      UC Santa Barbara     83397.0

Portland Trail Blazers
                 Name                    Team  Number Position   Age Height  \
427   Cliff Alexander  Portland Trail Blazers    34.0       PF  20.0    6-8
428   Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0    6-9
429   Pat Connaughton  Portland Trail Blazers     5.0       SG  23.0    6-5
430      Allen Crabbe  Portland Trail Blazers    23.0       SG  24.0    6-6
431          Ed Davis  Portland Trail Blazers    17.0        C  27.0   6-10
432  Maurice Harkless  Portland Trail Blazers     4.0       SF  23.0    6-9
433  Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0    6-5
434       Chris Kaman  Portland Trail Blazers    35.0        C  34.0    7-0
435    Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0    7-1
436    Damian Lillard  Portland Trail Blazers     0.0       PG  25.0    6-3
437     C.J. McCollum  Portland Trail Blazers     3.0       SG  24.0    6-4
438      Luis Montero  Portland Trail Blazers    44.0       SG  23.0    6-7
439     Mason Plumlee  Portland Trail Blazers    24.0        C  26.0   6-11
440     Brian Roberts  Portland Trail Blazers     2.0       PG  30.0    6-1
441       Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0    6-9

     Weight           College     Salary
427   240.0            Kansas   525093.0
428   215.0       Wake Forest  8042895.0
429   206.0        Notre Dame   625093.0
430   210.0        California   947276.0
431   240.0    North Carolina  6980802.0
432   215.0        St. John's  2894059.0
433   215.0              Duke  6000000.0
434   265.0  Central Michigan  5016000.0
435   245.0          Illinois  3075880.0
436   195.0       Weber State  4236287.0
437   200.0            Lehigh  2525160.0
438   185.0    Westchester CC   525093.0
439   235.0              Duke  1415520.0
440   173.0            Dayton  2854940.0
441   240.0           Indiana  2637720.0

Sacramento Kings
                    Name              Team  Number Position   Age Height  \
136           Quincy Acy  Sacramento Kings    13.0       SF  25.0    6-7
137       James Anderson  Sacramento Kings     5.0       SG  27.0    6-6
138      Marco Belinelli  Sacramento Kings     3.0       SG  30.0    6-5
139         Caron Butler  Sacramento Kings    31.0       SF  36.0    6-7
140          Omri Casspi  Sacramento Kings    18.0       SF  27.0    6-9
141  Willie Cauley-Stein  Sacramento Kings     0.0        C  22.0    7-0
142      Darren Collison  Sacramento Kings     7.0       PG  28.0    6-0
143     DeMarcus Cousins  Sacramento Kings    15.0        C  25.0   6-11
144           Seth Curry  Sacramento Kings    30.0       SG  25.0    6-2
145           Duje Dukan  Sacramento Kings    26.0       PF  24.0    6-9
146             Rudy Gay  Sacramento Kings     8.0       SF  29.0    6-8
147         Kosta Koufos  Sacramento Kings    41.0        C  27.0    7-0
148         Ben McLemore  Sacramento Kings    23.0       SG  23.0    6-5
149        Eric Moreland  Sacramento Kings    25.0       PF  24.0   6-10
150          Rajon Rondo  Sacramento Kings     9.0       PG  30.0    6-1

     Weight         College      Salary
136   240.0          Baylor    981348.0
137   213.0  Oklahoma State   1015421.0
138   210.0             NaN   6060606.0
139   228.0     Connecticut   1449187.0
140   225.0             NaN   2836186.0
141   240.0        Kentucky   3398280.0
142   175.0            UCLA   5013559.0
143   270.0        Kentucky  15851950.0
144   185.0            Duke    947276.0
145   220.0       Wisconsin    525093.0
146   230.0     Connecticut  12403101.0
147   265.0      Ohio State   7700000.0
148   195.0          Kansas   3156600.0
149   238.0    Oregon State    845059.0
150   186.0        Kentucky   9500000.0

San Antonio Spurs
                  Name               Team  Number Position   Age Height  \
294  LaMarcus Aldridge  San Antonio Spurs    12.0       PF  30.0   6-11
295      Kyle Anderson  San Antonio Spurs     1.0       SF  22.0    6-9
296        Matt Bonner  San Antonio Spurs    15.0        C  36.0   6-10
297         Boris Diaw  San Antonio Spurs    33.0        C  34.0    6-8
298         Tim Duncan  San Antonio Spurs    21.0        C  40.0   6-11
299      Manu Ginobili  San Antonio Spurs    20.0       SG  38.0    6-6
300        Danny Green  San Antonio Spurs    14.0       SG  28.0    6-6
301      Kawhi Leonard  San Antonio Spurs     2.0       SF  24.0    6-7
302   Boban Marjanovic  San Antonio Spurs    40.0        C  27.0    7-3
303       Kevin Martin  San Antonio Spurs    23.0       SG  33.0    6-7
304       Andre Miller  San Antonio Spurs    24.0       PG  40.0    6-3
305        Patty Mills  San Antonio Spurs     8.0       PG  27.0    6-0
306        Tony Parker  San Antonio Spurs     9.0       PG  34.0    6-2
307   Jonathon Simmons  San Antonio Spurs    17.0       SG  26.0    6-6
308         David West  San Antonio Spurs    30.0       PF  35.0    6-9

     Weight           College      Salary
294   240.0             Texas  19689000.0
295   230.0              UCLA   1142880.0
296   235.0           Florida    947276.0
297   250.0               NaN   7500000.0
298   250.0       Wake Forest   5250000.0
299   205.0               NaN   2814000.0
300   215.0    North Carolina  10000000.0
301   230.0   San Diego State  16407500.0
302   290.0               NaN   1200000.0
303   199.0  Western Carolina    200600.0
304   200.0              Utah    250750.0
305   185.0      Saint Mary's   3578947.0
306   185.0               NaN  13437500.0
307   195.0           Houston    525093.0
308   250.0            Xavier   1499187.0

Toronto Raptors
                 Name             Team  Number Position   Age Height  Weight  \
61    Bismack Biyombo  Toronto Raptors     8.0        C  23.0    6-9   245.0
62      Bruno Caboclo  Toronto Raptors    20.0       SF  20.0    6-9   205.0
63    DeMarre Carroll  Toronto Raptors     5.0       SF  29.0    6-8   212.0
64      DeMar DeRozan  Toronto Raptors    10.0       SG  26.0    6-7   220.0
65      James Johnson  Toronto Raptors     3.0       PF  29.0    6-9   250.0
66        Cory Joseph  Toronto Raptors     6.0       PG  24.0    6-3   190.0
67         Kyle Lowry  Toronto Raptors     7.0       PG  30.0    6-0   205.0
68     Lucas Nogueira  Toronto Raptors    92.0        C  23.0    7-0   220.0
69  Patrick Patterson  Toronto Raptors    54.0       PF  27.0    6-9   235.0
70      Norman Powell  Toronto Raptors    24.0       SG  23.0    6-4   215.0
71      Terrence Ross  Toronto Raptors    31.0       SF  25.0    6-7   195.0
72         Luis Scola  Toronto Raptors     4.0       PF  36.0    6-9   240.0
73     Jason Thompson  Toronto Raptors     1.0       PF  29.0   6-11   250.0
74  Jonas Valanciunas  Toronto Raptors    17.0        C  24.0    7-0   255.0
75       Delon Wright  Toronto Raptors    55.0       PG  24.0    6-5   190.0

        College      Salary
61          NaN   2814000.0
62          NaN   1524000.0
63     Missouri  13600000.0
64          USC  10050000.0
65  Wake Forest   2500000.0
66        Texas   7000000.0
67    Villanova  12000000.0
68          NaN   1842000.0
69     Kentucky   6268675.0
70         UCLA    650000.0
71   Washington   3553917.0
72          NaN   2900000.0
73        Rider    245177.0
74          NaN   4660482.0
75         Utah   1509360.0

Utah Jazz
               Name       Team  Number Position   Age Height  Weight  \
442   Trevor Booker  Utah Jazz    33.0       PF  28.0    6-8   228.0
443      Trey Burke  Utah Jazz     3.0       PG  23.0    6-1   191.0
444      Alec Burks  Utah Jazz    10.0       SG  24.0    6-6   214.0
445      Dante Exum  Utah Jazz    11.0       PG  20.0    6-6   190.0
446  Derrick Favors  Utah Jazz    15.0       PF  24.0   6-10   265.0
447     Rudy Gobert  Utah Jazz    27.0        C  23.0    7-1   245.0
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0
449     Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0
451   Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0
452      Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0
453    Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0
454       Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0
455    Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0
456     Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0

          College      Salary
442       Clemson   4775000.0
443      Michigan   2658240.0
444      Colorado   9463484.0
445           NaN   3777720.0
446  Georgia Tech  12000000.0
447           NaN   1175880.0
448        Butler  15409570.0
449          Duke   1348440.0
450           NaN   2050000.0
451        Dayton    981348.0
452      Kentucky   2239800.0
453        Butler   2433333.0
454           NaN    900000.0
455           NaN   2900000.0
456        Kansas    947276.0

Washington Wizards
                Name                Team  Number Position   Age Height  \
368    Alan Anderson  Washington Wizards     6.0       SG  33.0    6-6
369     Bradley Beal  Washington Wizards     3.0       SG  22.0    6-5
370     Jared Dudley  Washington Wizards     1.0       SF  30.0    6-7
371     Jarell Eddie  Washington Wizards     8.0       SG  24.0    6-7
372      Drew Gooden  Washington Wizards    90.0       PF  34.0   6-10
373    Marcin Gortat  Washington Wizards    13.0        C  32.0   6-11
374       JJ Hickson  Washington Wizards    21.0        C  27.0    6-9
375     Nene Hilario  Washington Wizards    42.0        C  33.0   6-11
376  Markieff Morris  Washington Wizards     5.0       PF  26.0   6-10
377  Kelly Oubre Jr.  Washington Wizards    12.0       SF  20.0    6-7
378  Otto Porter Jr.  Washington Wizards    22.0       SF  23.0    6-8
379   Ramon Sessions  Washington Wizards     7.0       PG  30.0    6-3
380   Garrett Temple  Washington Wizards    17.0       SG  30.0    6-6
381  Marcus Thornton  Washington Wizards    15.0       SF  29.0    6-4
382        John Wall  Washington Wizards     2.0       PG  25.0    6-4

     Weight               College      Salary
368   220.0        Michigan State   4000000.0
369   207.0               Florida   5694674.0
370   225.0        Boston College   4375000.0
371   218.0         Virginia Tech    561716.0
372   250.0                Kansas   3300000.0
373   240.0                   NaN  11217391.0
374   242.0  North Carolina State    273038.0
375   250.0                   NaN  13000000.0
376   245.0                Kansas   8000000.0
377   205.0                Kansas   1920240.0
378   198.0            Georgetown   4662960.0
379   190.0                Nevada   2170465.0
380   195.0                   LSU   1100602.0
381   205.0                   LSU    200600.0
382   195.0              Kentucky  15851950.0

In [25]:
def myfun(text):
    if text=='Boston Celtics':
        return 'N/A'
    else:
        return text

In [30]:
df['College']=df['Team'].apply(myfun)

In [32]:
df[df['Team']=='Boston Celtics']

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,N/A,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,N/A,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,N/A,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,N/A,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,N/A,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,N/A,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,N/A,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,N/A,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,N/A,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,N/A,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,N/A,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,N/A,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,N/A,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,N/A,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,N/A,2616975.0